.row
  .col-md-10
    %h2
      Browse by Team
      %span.small= "#{all_teams.size} teams"
    %a{:name => 'teams'}
  .col-md-2.text-right
    = render partial: 'teams/create_button'
.row
  .col-md-12
  - groups = all_teams_groups
  - per_column = (groups[nil].try(:size) / 3.0).ceil
  - groups[nil].each_slice(per_column).each do |teams|
    %ul.col-md-4.list-unstyled.team-index
      - teams.each do |team|
        %li
          - if groups[team.to_param].present?
            %h3
              = link_to(team_path(team), title: "List #{team.name} Brazilian Jiu-Jitsu gyms") do
                - if team.image.present?
                  = image_tag team.image, alt: "#{team.name} logo", class: 'logo'
                - else
                  %span.logo
                = team.object.name
              %span.small
                = surround '(', ')' do
                  = team.locations.count
            %ul.list-inline
              - groups[team.to_param].drop(1).each do |t|
                %li.small= link_to(t.object.name, team_path(t), title: "List #{t.name} Brazilian Jiu-Jitsu gyms")
          - else
            %h3
              = link_to(team_path(team), title: "List #{team.name} Brazilian Jiu-Jitsu gyms") do
                - if team.image.present?
                  = image_tag team.image, alt: "#{team.name} logo", class: 'logo'
                - else
                  .logo
                = team.object.name
              %span.small
                = surround '(', ')' do
                  = team.locations.count
