= content_for(:title) do
  = "#{team.name} - Brazilian Jiu-Jitsu Academy Directory"
= content_for(:head) do
  %meta{:name => 'description', :content => team.description? ? truncate(team.description, length: 155) : "Brazilian Jiu-Jitsu Academy Directory"}/
  %meta{:property => 'og:title', :content => team.name}/
  %meta{:property => 'og:description', :content => team.description? ? truncate(team.description, length: 155) : "Brazilian Jiu-Jitsu Academy Directory"}/
  %meta{:property => 'og:image', :content => "#{team.image}"}/

.container.page.show-team
  = form_for(team, html: { class: 'form ' + edit_mode_classes }) do |f|
    .row
      .col-md-10= render partial: 'breadcrumb', locals: { team: team }
      .col-md-2.text-right= render partial: 'edit_controls', locals: { team: team }
    .row
      .col-md-12= render partial: 'teams/create_message' if created?
    .row
      .col-md-2{:style => 'padding-right: 0px;'}
        .display-field
          %img.center-block{:src => team.image}
        .edit-field
          %img.center-block.edit-image{:src => team.image}
          %br/
          %input{:'data-url' => upload_image_team_path(team), :'data-upload-avatar' => true, :type => 'file', :class => 'input-md form-control'}/
          - if team.object.image.present?
            %input{:'data-url' => remove_image_team_path(team), :'data-clear-avatar' => true, :type => 'button', :value => 'Remove Image', :class => 'btn btn-default btn-small btn-block'}/
      .col-md-6
        .edit-field
          = f.label :name, class: 'small'
          = f.text_field :name, placeholder: 'Name of the team/association (eg. Alliance)', class: 'form-control input-lg'
        %h1.display-field
          = team.name
          - if team.parent_team.present?
            %br/
            %small= link_to "Part of #{team.parent_team.name}", team_path(team.parent_team)
        .edit-field
          = f.label :parent_team_id, class: 'small'
          = f.select :parent_team_id, grouped_options_for_select(all_teams_select_groups), {:include_blank => true}, class: 'form-control  input-md'
          = f.label :description, class: 'small'
          = f.text_area :description, placeholder: 'Provide a description of the team/association', class: 'form-control', rows: 4
        .display-field= simple_format(team.description)
        %a.media-teaser.hidden-xs.display-field{:href => '#media', :title => 'View more media'}
      .col-md-4.instructors
        %h3.pull-left Head Instructors
        %a{:name => 'instructor'}
        %button.pull-right.edit-field.btn.btn-small.btn-default.add-instructor{:style => 'margin-top: -5px', :type => 'button'}
          %i.fa.fa-plus-circle
          Add Instructor
        .clear.items
        .empty-message
          %i.text-muted We don't know who the head instructors are 
        %br/
    - if team.locations.count > 0
      %br/
      .row
        .col-md-10
          %h3= "#{pluralize(team.locations.count, 'Academy')}"
        .col-md-2.text-right
          = link_to wizard_locations_path(ref: 'tdp', team: team.id), style: 'margin-top: -5px', class: 'btn btn-success' do
            %i.fa.fa-map-marker
            Create Academy
      .row
        .col-md-12
          = render partial: 'locations/table', locals: { locations: team.locations, exclude: [:team] }
      - if team.ig_hashtag.present?
        %hr/
        .row
          .col-md-12
            = render partial: 'locations/show_media', locals: { f: f, hashtag: team.ig_hashtag }
    %hr.edit-field/
    .row.edit-field.edit-control
      .col-md-12
        %h3 Edit Controls
      .col-md-12
        %pre.small= JSON.pretty_generate(team.as_json({}))
        %br/
      .col-md-12
        .pull-right
          %button.delete-field.btn.btn-danger.btn-md{:type => 'button',
            :data => { :method => :delete,
                       :url => team_path(team),
                       :title => 'Are you sure you want to delete this team?',
                       :body => "You are performing this action as <b>#{current_user.try(:name)}</b>. Press 'Confirm' to permanently delete this team. Note that this action cannot be un-done." } }
            %i.fa.fa-trash
            Delete Team

          &nbsp;&nbsp;
          %button.btn.btn-default.btn-md{:type => 'button', 'data-cancel-edit' => true} Cancel Editing
          %button.btn.btn-primary.btn-md{:type => 'submit'} Save Changes

  = render :partial => 'instructors/add_instructor_dialog'

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      model = new RollFindr.Models.Team(#{team.to_json})
      instructorView = new RollFindr.Views.LocationInstructorsView({ model: model })

