.add-event-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "addEventLabel", :role => "dialog", :tabindex => "-1"}
  = form_for([location, location.events.new], html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only Close
          %h4.modal-title
            %i.fa.fa-calendar
            Create Event
        .modal-body
          .container-fluid
            .row
              .col-md-12
                %fieldset.small
                  / Text input
                  .form-group
                    %label.control-label{:for => "event[title]"} Title
                    = f.text_field :title, placeholder: 'eg. BJJ Beginners, Competition Class', class: 'form-control input-lg'
                  .form-group
                    %label.control-label{:for => "event[instructor]"} Instructor
                    = f.select :instructor, location.instructors.map{|o| [o.name, o.id]}, {include_blank: true}, class: 'form-control input-md'
                  .form-group
                    = render partial: 'location_events/start_picker'
                  .form-group
                    = render partial: 'location_events/end_picker'
                  .form-group
                    = render partial: 'location_events/recurrence_controls', locals: { f: f }
        .modal-footer
          %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} Cancel
          %button.btn.btn-success{:disabled => true, :type => 'submit'} Create Event

