= content_for(:title) do
  = "Tournament information for #{event.title} on #{event.starting.strftime('%v')}"

= form_for([location, event], html: { class: 'form ' + edit_mode_classes }) do |f|
  .row
    .col-md-10.pull-left
      = render partial: 'breadcrumb', locals: { location: location, event: event }
    .col-md-2.pull-right
      .display-field
        %button.btn.btn-default.btn-sm{:type => "button", 'data-begin-edit' => true} Edit
        %button.btn.btn-default.btn-sm{'data-report-item' => true}
          %span.report Report
      .edit-field
        %button.btn.btn-default.btn-sm{:'data-cancel-edit' => true } Cancel
        %button.btn.btn-primary.btn-sm{:type => 'submit'} Save
  -#.row{style: 'position: relative'}
    %img.cover-image{src: event.cover_image}/
  .row
    .col-sm-3.col-md-2.col-xs-4.text-center.center-block{:style => 'padding-right: 0px;'}
      %a{target: '_blank', href:  event.image_large, title: "View large logo"}
        %img.img-thumbnail{alt: event.title, :src => event.image, :class => 'logo center-block'}/
      %p.text-small.small.text-muted= "last updated #{distance_of_time_in_words_to_now(event.updated_at)} ago"
    .col-md-7.col-xs-8.display-field
      %h1
        = event.title
        - if event.organization.present?
          %small
            = link_to event.organization.abbreviation, '#'
      %p
        %span.text-info
          %span.fa.fa-calendar
          = "#{event.schedule.try(:to_s)}"
        %span.text-muted.small
          = "(#{distance_of_time_in_words_to_now(event.starting)} from now)"
      %p.display-field.description= event.description
      %div.clear.clear-fix
    .col-md-7.edit-field
      = f.label :title, class: 'small text-muted upcase'
      = f.text_field :title, class: 'input-lg form-control'
      = f.label :organization, class: 'small text-muted upcase'
      = f.select :organization, Organization.asc(:name).map{|o| [o.name, o.id]}, {include_blank: true}, class: 'form-control input-md', selected: event.organization.id
      = f.label :description, class: 'small text-muted upcase'
      = f.text_area :description, class: 'input-md form-control'
    .col-md-3.display-field.col-sm-12
      %b.small.text-muted.upcase Contact
      - if event.organization.try(:email).present?
        %span.display-field
          = link_to 'mailto:' + event.organization.email, class: 'small email' do
            %i.fa.fa-envelope
            = event.organization.email
          %br/
        - if event.website.present?
          = link_to 'http://' + event.website, class: 'small website' do
            %i.fa.fa-external-link
            = event.website
          %br/
        - if event.organization.try(:website).present?
          = link_to 'http://' + event.organization.website, class: 'small website' do
            %i.fa.fa-external-link
            = event.organization.website
          %br/
        - if event.facebook.present?
          = link_to 'http://facebook.com/' + event.facebook, class: 'small facebook website' do
            %i.fa.fa-facebook
            = event.facebook
          %br/
        %br/

    .col-md-3.edit-field
      = f.label :email, class: 'small text-muted upcase'
      = f.text_field :email, class: 'input-sm form-control'
      = f.label :website, 'Websites', class: 'small text-muted upcase'
      .input-group
        %span.input-group-addon http://
        = f.text_field :website, class: 'input-sm form-control'
      .input-group
        %span.input-group-addon http://facebook.com/
        = f.text_field :facebook, class: 'input-sm form-control'
  %hr.hidden-xs/
  .row
    .col-md-2.edit-field
      %br/
      %b.pull-left.small.text-muted.upcase
        Tournament Schedule
      %span.pull-right
        %button.title-btn.btn.btn-default{type: 'button'}
          Add Date
      %br.clear.clear-fix/
      .form-group.small.upcase.text-muted
        = render partial: 'location_events/start_picker', locals: { value: event.starting }
        = render partial: 'location_events/end_picker', locals: { value: event.ending }
    .col-md-2.display-field
      %b.small.text-muted.upcase
        Tournament Schedule
      %ul.list-unstyled
        - event.sub_events.unscoped.each do |sub_event|
          %li.list-group-item
            %span.pull-left.text-muted
              %span.day= sub_event.starting.strftime('%d')
              %span.month= sub_event.starting.strftime('%b')
            - if (sub_event.starting > Time.now)
              %span.small.text-muted.pull-right
                = "in "
                = distance_of_time_in_words_to_now(sub_event.starting)
            %br.clear.clear-fix/
            %h4= sub_event.title
        %li.list-group-item{style: 'background-color: lightgreen; border-color: green'}
          %span.pull-left.text-muted
            %span.day= event.starting.strftime('%d')
            %span.month= event.starting.strftime('%b')
          - if (event.starting > Time.now)
            %span.small.pull-right
              = "in "
              = distance_of_time_in_words_to_now(event.starting)
          %br.clear.clear-fix/
          %h4 Tournament begins
    .col-md-6
      .map.clear.clear-fix
        %div.map-canvas{:style => 'height: 300px'}
          -# This is filled in by google maps
    .col-md-4
      %b.small.text-muted.upcase
        = "Upcoming #{event.organization.abbreviation} Events"
      .upcoming-events.location-list.loading.clear
        .loading-overlay
          %span.fa.fa-refresh.fa-3x.fa-spin
        .items
        .empty-message
          %i.text-muted There are no upcoming events
  .row.edit-field
    .col-md-12
      %br/
      .pull-right
        %a.delete-field.btn.btn-danger.btn-md{:type => 'button',
          :data => { :method => :delete,
                     :url => location_event_path(location, event),
                     :returnto => schedule_location_path(location, deleted: 1, edit: 1),
                     :title => 'Are you sure you want to delete this event?',
                     :body => "You are performing this action as <b>#{current_user.try(:name)}</b>. press 'confirm' to permanently delete all occurrences of this event. note that this action cannot be un-done." } }
          %i.fa.fa-trash
          Delete Event

        &nbsp;&nbsp;
        %button.btn.btn-default.btn-md{:type => 'button', 'data-cancel-edit' => true} Cancel Editing
        %button.btn.btn-primary.btn-md{:type => 'submit'} Save Changes

= content_for(:scripts) do
  = javascript_include_tag 'map'
  :coffeescript
    $(document).ready ->
      eventModel = new RollFindr.Models.Event(#{render_json(event)})
      showView = new RollFindr.Views.EventShowView({ model: eventModel })

      upcomingEventsView = new RollFindr.Views.UpcomingEventsView({organization_id: "#{event.organization.id}", count: 5})

      mapModel = new RollFindr.Models.Map(#{render_json(@map)})
      mapView = new RollFindr.Views.StaticMapView({editable: false, model: mapModel, el: $('.map')})
    $('.directions').readmore(collapsedHeight: 175)
