.container
  %h2
    = link_to location_path(@location, edit: 0) do
      = @location.title
    %span.small
      = surround '(', ')'  do
        = link_to 'Edit', location_path(@location, edit: 1)

  %h3 Actions
  = link_to 'Fetch!', fetch_admin_location_path(@location), :class => 'btn btn-primary', :'data-remote' => true, :'data-method' => 'POST'
  = link_to 'Verify!', verify_location_status_path(@location), :class => 'btn btn-success text-success', :'data-remote' => true, :'data-method' => 'PUT'
  = link_to 'Reject!', reject_location_status_path(@location), :class => 'btn btn-danger text-danger', :'data-remote' => true, :'data-method' => 'PUT'
  = link_to 'Pending!', pending_location_status_path(@location), :class => 'btn btn-warning text-warning', :'data-remote' => true, :'data-method' => 'PUT'

  = link_to 'Unlock!', unlock_location_path(@location), :class => 'btn btn-default', :'data-remote' => true, :'data-method' => 'POST'
  = link_to 'Close!', close_location_path(@location), :class => 'btn btn-default text-default', :'data-remote' => true, :'data-method' => 'POST'
  = link_to 'Delete!', location_path(@location), :class => 'btn btn-default text-default', :'data-remote' => true, :'data-method' => 'DELETE'
  %h3 Model
  %pre.small= JSON.pretty_generate(JSON.parse(render_json(@location)))
  %h3 Service Metadata
  %pre= JSON.pretty_generate(RollFindr::LocationFetchService.detail(@location.id.to_s) || {})
  
  %h3= pluralize(@location.history_tracks.count, "Changes")
  %table.table.table-striped
    %tr
      %th Action
      %th Modified
      %th Original
      %th Version
      %th Modifier
      %th Time

    - @location.history_tracks.sort_by { |o| -o.version }.each do |history|
      %tr
        %td= history.action
        %td
          %pre= JSON.pretty_generate(history.modified)
        %td
          %pre= JSON.pretty_generate(history.original)
        %td= history.version
        %td= history.modifier.present? ? link_to(history.modifier.name, history.modifier) : '(none)'
        %td= time_ago_in_words(history.created_at)
