.col-md-8.map-view
  .map-canvas
.col-md-4.map-list-view
  %ul.nav.nav-tabs.nav-justified.map-list
    %li.active
      %a.show-locations{:href => '#tab-pane-location-list', 'data-toggle' => 'tab'}
        %strong Academies
    %li
      %a.show-filters{:href => '#tab-pane-filter-list', 'data-toggle' => 'tab'}
        %strong Filters
  .tab-content
    %div#tab-pane-location-list.tab-pane.location-list.loading.fade.in.active
      .loading-overlay
        %span.fa.fa-refresh.fa-3x.fa-spin
      = render partial: 'maps/map_list', locals: { show_create: true }
    %div#tab-pane-filter-list.tab-pane.fade.in
      .col-md-12= render partial: 'maps/filter_list'
      %br.clear.clear-fix/
= render partial: 'locations/create_modal_small'
.directions-dialog-container
- content_for :scripts do
  = javascript_include_tag 'map'
  :javascript
    $(document).ready(function() {
      var mapModel = new RollFindr.Models.Map(#{render_json(map)});
      var mapView = new RollFindr.Views.MapView({model: mapModel});
      var filtersView = new RollFindr.Views.FiltersView({model: mapModel});
    });

