.add-instructor-dialog.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'addInstructor', 'role' => 'dialog', 'tabindex' => -1}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
          %span{'aria-hidden' => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title
          %i.fa.fa-user
          %span= local_assigns[:title] || 'Choose Person'
      .modal-body
        - if defined?(@location)
          = render partial: 'instructors/location_add_instructor'
        - elsif defined?(@team)
          = render partial: 'instructors/team_add_instructor'
        - else
          = render partial: 'instructors/add_instructor'

= content_for(:scripts) do
  :javascript
    $(document).ready(function() {
      var autocomplete = new RollFindr.Views.UserAutocompleteView({el: $('.typeahead.instructor-name')});
    });

