- new_instructor = User.new(locations: [location]).decorate
.editable
  .display-field
    %form{:action => location_instructors_path(location), :method => 'POST'}
      = hidden_field_tag :location_id, location.id
      = hidden_field_tag :authenticity_token, form_authenticity_token
      = text_field_tag :name, nil, class: 'typeahead instructor-name form-control input-md'
      = hidden_field_tag :id, nil
      %br/
      %br/
      %button.pull-right.btn.btn-primary{:type => 'submit'}
        Add Instructor
    %br.clear.clear-fix/

  .edit-field
    = form_for([location, new_instructor], url: location_instructors_path(location)) do |f|
      = render partial: 'users/edit_table', :locals => { :f => f, :user => new_instructor, :show_biography => false }
      .modal-footer
        %button.btn.btn-default{'data-cancel-edit' => true}
          Cancel
        %button.btn.btn-primary{:type => 'submit'}
          Create Instructor

