- new_instructor = User.new(locations: [location]).decorate
.tab-content
  %div.tab-pane#create-instructor
    = form_for([location, new_instructor], url: location_instructors_path(location), html: { class: 'form editable edit-mode' }) do |f|
      .container-fluid
        .row
          .col-md-4
            %div.text-center
              %img.center-block{:style => 'max-width: 150px', :alt => "default profile image", :src => image_path(UserDecorator::DEFAULT_IMAGE)}
              %button.image-caption.center-block.btn.btn-primary.btn-small{:type => 'button'} Upload Image
          .col-md-8
            = render partial: 'users/edit_table', :locals => { :f => f, :user => new_instructor, :show_biography => false }
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal'}
          Cancel
        %button.btn.btn-primary{:type => 'submit'}
          Create Instructor

  %div.tab-pane.active#existing-instructor
    %form{:action => location_instructors_path(location), :method => 'POST'}
      .container-fluid
        %img.center-block.img-block{:style => 'max-width: 150px', 'data-default-src' => image_path('default-user-250.png'), 'src' => image_path('default-user-250.png')}
        %br/
        = hidden_field_tag :location_id, location.id
        = hidden_field_tag :authenticity_token, form_authenticity_token
        = select_tag :id, options_for_select(select_instructors), include_blank: true, class: 'instructor-name form-control input-md'
        %br/
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal'}
          Cancel
        %button.btn.btn-primary{:type => 'submit'}
          Add Instructor
