- new_student = User.new(lineal_parent: instructor).decorate
.add-student-dialog.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'addstudent', 'role' => 'dialog', 'tabindex' => -1}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
          %span{'aria-hidden' => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title
          %i.fa.fa-plus-circle
          Add Student
        %span.small.text-info Note that this will change the student's lineage.
      .modal-body
        .editable
          .display-field
            %form{:action => user_students_path(instructor), :method => 'POST'}
              = hidden_field_tag :lineal_parent_id, instructor.id
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = text_field_tag :name, nil, class: 'typeahead student-name form-control input-md'
              = hidden_field_tag :id, nil
              %br/
              %br/
              %button.pull-right.btn.btn-primary{:type => 'submit'}
                Add Student 
            %br.clear.clear-fix/

= content_for(:scripts) do
  :coffeescript
    view = new RollFindr.Views.UserAutocompleteView({el: $('.add-student-dialog .student-name'), target: $('.add-student-dialog [name="id"]')})
