- color_count = 3
.col-md-12.instructor-card{:class => local_assigns[:color_key] ? "schedule-color-#{user_counter}" : nil}
  .container-fluid
    %button.edit-field.close.remove-user{"aria-hidden" => "true", :type => "button", "data-id" => user.id} &times;
  %a.thumbnail{'data-color-ordinal' => user_counter, 'data-user-id' => user.to_param, :href => user_path(user, ref: "card#{user_counter}"), :class => local_assigns[:color_key] ? "schedule-color-#{user_counter}" : nil}
    %img.pull-left{:alt => "#{user.name} profile image", :src => user.image}
    .caption
      %h3= user.name
      = render partial: 'users/belt', locals: { user: user }
      %p= user.summary
      %div.color-legend
