- show_biography = local_assigns[:show_biography]
%table.table.table-user-information.edit-field
  %tbody
    %tr
      %td.text-muted Name
      %td
        .edit-field.form-group
          = f.text_field :name, class: 'form-control input-lg'
    %tr
      %td.text-muted Rank
      %td
        .edit-field.form-group
          = f.select :belt_rank, options_for_select(belt_ranks, user.belt_rank), {}, class: 'form-control input-md'
        .edit-field.form-group
          = f.select :stripe_rank, options_for_select(stripe_ranks, user.stripe_rank), {}, class: 'form-control input-md'
    %tr
      %td.text-muted Born
      %td
        .edit-field.form-group.form-inline
          = f.select :birth_day, options_for_select(select_days, user.birth_day), { prompt: 'Day' }, class: 'form-control'
          = f.select :birth_month, options_for_select(select_months, user.birth_month), { prompt: 'Month' }, class: 'form-control'
          = f.select :birth_year, options_for_select(select_years, user.birth_year), { prompt: 'Year' }, class: 'form-control'
    %tr
      %td
      %td
        = f.text_field :birth_place, placeholder: 'Place of birth', class: 'form-control edit-field'
    - if local_assigns.key?(:force_lineal_parent) && force_lineal_parent
      = f.hidden_field :lineal_parent, value: force_lineal_parent
    - else 
      %tr
        %td.text-muted Lineage
        %td= render partial: 'users/lineage', locals: { :f => f, :user => user }
    - if show_biography
      %tr
        %td.text-muted Biography
        %td
          = f.text_area :description, rows: 5, class: 'form-control'
