%table.table.table-user-information.display-field
  %tbody
    %tr
      %td.text-muted.text-right Name
      %td
        %h1.display-field
          = user.name
    - if own_profile? || user.flag_display_email?
      %tr
        %td.text-muted.text-right Email
        %td
          .display-field
            %span= mail_to(user.email)
            - unless user.flag_display_email?
              = surround '(', ')' do
                %i.text-muted Not displayed publicly
    %tr
      %td.text-muted.text-right Rank
      %td
        .display-field
          = render partial: 'users/belt', locals: { user: user }
    
    - if user.birthdate.present? || user.birth_place.present?
      %tr
        %td.text-muted.text-right Born
        %td
          - if user.birthdate.present?
            .display-field
              = user.birthdate.strftime('%B %d, %Y')
              &nbsp;&nbsp;
              = "(#{user.age_in_years} years old)"
      %tr
        %td
        %td
          %span.display-field
            = user.birth_place
            &nbsp;
          = f.text_field :birth_place, placeholder: 'Place of birth', class: 'form-control edit-field'
    %tr
      %td.text-muted.text-right Lineage
      %td= render partial: 'users/lineage', locals: { :user => user }
    - unless user.female.nil?
      %tr
        %td.text-muted.text-right Gender
        %td
          - if user.female?
            Female
          - else
            Male
    - if user.description?
      %tr
        %td.text-muted.text-right Biography
        %td= simple_format(user.description)
