%table.table.table-user-information.display-field
  %tbody
    %tr
      %td.text-muted Name
      %td
        %h1.display-field= user.name
    %tr
      %td.text-muted Rank
      %td
        .display-field
          = render partial: 'users/belt', locals: { user: user }
    
    - if user.birthdate.present? || user.birth_place.present?
      %tr
        %td.text-muted Born
        %td
          - if user.birthdate.present?
            .display-field
              = user.birthdate.strftime('%B %d, %Y')
              &nbsp;&nbsp;
              = "(#{user.age_in_years} years old)"
      %tr
        %td
        %td
          %span.display-field
            = user.birth_place
            &nbsp;
          = f.text_field :birth_place, placeholder: 'Place of birth', class: 'form-control edit-field'
    %tr
      %td.text-muted Lineage
      %td= render partial: 'users/lineage', locals: { :f => f, :user => user }
    - if user.description?
      %tr
        %td.text-muted Biography
        %td= user.description
