- title = "Brazilian Jiu-Jitsu Academies and Events in #{directory_segment.full_name}"
= content_for :title do
  = title
.container.page.directory
  .row
    .col-md-12
      %h1
        = directory_segment.full_name
        %small BJJ academies and events
  .row
    .col-md-10
      = render partial: 'breadcrumb'
    .col-md-2.text-right.pull-right
      = render partial: 'create_location_button'
  .row
    .col-md-9.map-view
      .map-canvas{:style => 'height: 400px;'}
      .location-list
        .loading-overlay
          %span.fa.fa-refresh.fa-3x.fa-spin
        = render partial: 'locations/map_list', locals: { show_create: true }
    .col-md-3
      %h3= "More Cities in #{directory_segment.parent_segment.name}"
      %ul.list-unstyled
        - directory_segment.parent_segment.child_segments.each do |seg|
          %li
            = link_to directory_segment_path(city: seg.name, country: seg.parent_segment.name) do
              = seg.name
    %hr/
    .row
      .col-md-12
        %h3 Schedule for #{directory_segment.full_name}
        .scheduler.clear

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      segmentModel = new RollFindr.Models.DirectorySegment(#{render_json(directory_segment)})
      mapModel = new RollFindr.Models.Map(#{render partial: 'maps/map', formats: [:json], locals: { map: map }})
      cityView = new RollFindr.Views.DirectorySegmentCityView({ model: segmentModel, mapModel: mapModel, el: $('.directory') })

