- title = "Brazilian Jiu-Jitsu Academy Directory"
= content_for :title do
  = title
.container.page.directory
  .row
    .col-md-12
      %h1
        = title
        %span.small= "#{Location.verified.academies.count} academies and #{Event.count} events"
  .row.hidden-xs
    .col-md-12
      = render partial: 'breadcrumb'
  .row.hidden-xs
    .col-md-12
      = render partial: 'directory_welcome_message'
  .row
    .col-md-12
      = render partial: 'directory_index'
