- title = "Brazilian Jiu-Jitsu Academy Directory"
= content_for :title do
  = title
.container.page.directory
  .row
    .col-md-12
      %h1
        = title
        %span.small= "#{Location.count} academies worldwide"
  .row
    .col-md-12
      = render partial: 'breadcrumb'
  -#.row
    .col-md-12
      = render partial: 'directory_welcome_message'
  .row
    .col-md-12
      = render partial: 'directory_index'
  %hr/
  .row
    .col-md-3
      %h4 Contribute
    .col-md-3
      = render partial: 'create_location_button'
    .col-md-3
      = render partial: 'create_event_button'
    .col-md-3
      = render partial: 'teams/create_button'

