- title = "Brazilian Jiu-Jitsu Academy Directory"
= content_for :title do
  = title
.container.page.directory
  .row
    .col-md-12
      %h1
        = title
        %span.small= "#{Location.verified.academies.count} academies and #{Event.count} events"
  .row.hidden-xs
    .col-md-12
      = render partial: 'breadcrumb'
  .row.hidden-xs
    .col-md-3
      %h3.h4
        %span.fa.fa-plus-square
        Contribute
    .col-md-3
      = render partial: 'create_location_button'
    .col-md-3
      = render partial: 'create_event_button'
    .col-md-3
      = render partial: 'teams/create_button'
  %hr/
  .row
    .col-md-12
      = render partial: 'directory_index'
