.add-event-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = form_for([location, location.events.new], html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only Close
          %h4 Create Event
        .modal-body
          %ul.nav.nav-tabs{:role => 'tablist'}
            %li.active
              %a{:href => '#class-event', 'role' => 'tab', 'data-toggle' => 'tab'} Scheduled Class
            %li
              %a{:href => '#special-event', 'role' => 'tab', 'data-toggle' => 'tab'} Seminar
            %li
              %a{:href => '#tournament-event', 'role' => 'tab', 'data-toggle' => 'tab'} Tournament
          .tab-content
            .tab-pane#special-event
              %h4.text-danger Coming soon
            .tab-pane#tournament-event
              %h4.text-danger Coming soon
            .active.tab-pane#class-event
              .container-fluid
                .row
                  %br/
                  .col-md-12
                    %fieldset
                      / Text input
                      .form-group
                        %label.col-md-4.control-label{:for => "event[title]"} Title
                        .col-md-8
                          = f.text_field :title, placeholder: 'eg. BJJ Beginners, Competition Class', class: 'form-control input-lg'
                          = f.hidden_field :starting
                          = f.hidden_field :ending
                      .form-group
                        %label.col-md-4.control-label{:for => "event[instructor]"} Instructor
                        .col-md-8
                          = f.select :instructor, location.instructors.map{|o| [o.name, o.id]}, {}, class: 'form-control input-md'
                      .form-group
                        %label.col-md-4.control-label
                          Start
                        .col-md-8.form-inline
                          = select_hour(0, {start_hour: 1, end_hour: 12, field_name: 'start_hours'}, {class: 'form-control input-md'})
                          = select_minute(0, {minute_step: 15, field_name: 'start_minutes'}, {class: 'form-control input-md'})
                          = select_tag :date_start_am_pm, options_for_select([['AM', 'am'],['PM','pm']]), class: 'form-control input-md'
                      .form-group
                        %label.col-md-4.control-label
                          End
                        .col-md-8.form-inline
                          = select_hour(1, {start_hour: 1, end_hour: 12, field_name: 'end_hours'}, {class: 'form-control input-md'})
                          = select_minute(0, {minute_step: 15, field_name: 'end_minutes'}, {class: 'form-control input-md'})
                          = select_tag :date_end_am_pm, options_for_select([['AM', 'am'],['PM','pm']]), class: 'form-control input-md'
                      .form-group
                        .checkbox.col-md-offset-4
                          %label.control-label
                            = check_box_tag 'event[is_all_day]'
                            %strong All Day Event
                      .form-group
                        %label.col-md-4.control-label{:for => "event[event_recurrence]"} Repeat
                        .col-md-8
                          = f.select :event_recurrence, select_recurrence, {}, class: 'form-control input-md'
        .modal-footer
          %button.btn.btn-default{:type => 'button', 'data-dismiss' => 'modal'} Cancel
          %button.btn.btn-primary{:type => 'submit'} Create Event
