<div class="card instructor-card">
  <button class="edit-field close remove-instructor" aria-hidden="true" type="button" data-id="<%= instructor.id %>">&times;</button>
  <a class="thumbnail" data-user-id="<%= instructor.id %>" href="<%= Routes.user_path(instructor.param) %>">
    <% if (instructor.thumbnailx && instructor.thumbnaily) { %>
      <div class="avatar pull-left" style="background: url('<%= instructor.image %>') top -<%= instructor.thumbnaily %>px left -<%= instructor.thumbnailx %>px no-repeat"></div>
    <% } else { %>
      <div class="avatar pull-left" style="background: url('<%= instructor.image %>') top center no-repeat"></div>
    <% } %>
    <div class="caption">
      <div class="small lineage">
      <% if (instructor.full_lineage.length > 0) { %>
      <% _.each(instructor.full_lineage, function(o) { %>
        <%= o.name %> &raquo;
      <% }) %>
      <% } else { %>
        <i class="text-danger">(Unknown Lineage) &raquo;</i>
      <% } %>
      </div>
      <h3><%= instructor.name %></h3>
      <div class="belt-<%= instructor.belt_rank %> belt">
        <b class="pull-left small">
          <%= instructor.rank_in_words %>
        </b>
        <div class="grade-<%= instructor.stripe_rank %> grade">
          <% _.times(instructor.stripe_rank, function() { %>
            <span class="stripe"></span>
          <% }) %>
        </div>
      </div>
      <p>
        <%= instructor.summary %>
      </p>
    </div>
  </a>
</div>

