<div data-id="<%= location.id %>" class="map-list-item location-list-item <%= active ? 'marker-active' : ''%> list-group-item">
  <div class="inactive-content">
    <div class="list-index">
      <span><%= location.marker_id %></span>
    </div>
    <img src="<%= location.image %>" alt="<% location.title %> logo" class="logo pull-left" />
    <div>
      <h4 class="list-group-item-heading"><%= location.title %></h4>
      <p class="team-title strong list-group-item-text small"><%= location.team_name %></p>
      <p class="address list-group-item-text small"><%= location.street %></p>
    </div>
    <span class="text-info distance small"><%= location.distance %></span>
  </div>
  <div class="active-content">
    <a class="location-link" href="<%= Routes.location_path(location.id) %>" alt="See more about <%= location.title %>">
      <div class="list-index">
        <span><%= location.marker_id %></span>
      </div>
      <img src="<%= location.image %>" alt="<% location.title %> logo" class="logo pull-left" />
      <div>
        <h4 class="list-group-item-heading"><%= location.title %></h4>
        <p class="strong list-group-item-text small team-title"><%= location.team_name %></p>
        <p class="list-group-item-text small address"><%= location.address %></p>
      </div>
      <br/>
    </a>
    <ul class="small list-unstyled">
      <% if (null !== location.phone && location.phone.length > 0) { %>
        <li><span class="col-md-offset-1 label">Phone</span> <a class="phone" href="tel:<%= location.phone %>"><%= location.phone %></a></li>
      <% } %>
      <% if (null !== location.email && location.email.length > 0) { %>
        <li><span class="col-md-offset-1 label">Email</span> <a class="email" href="mailto:<%= location.email %>"><%= location.email %></a></li>
      <% } %>
      <% if (null !== location.website && location.website.length > 0) { %>
        <li><span class="col-md-offset-1 label">Website</span> <a class="website" href="http://<%= location.website %>"><%= location.website %></a></li>
      <% } %>
      <% if (null !== location.facebook && location.facebook.length > 0) { %>
        <li><span class="col-md-offset-1 label"></span><a class="facebook" href="http://fb.com/<%= location.facebook %>"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <% } %>
    </ul>
    <span class="text-info distance small"><%= location.distance %></span>
  </div>
</div>
