<div class="list-group <%= locations.length > 0 ? '' : 'empty' %>">
  <div class="text-center empty-message alert alert-info"><h4>Sorry, we have nothing to show you.</h4><span>Try zooming out or using the search bar at the top of this page.</span></div>
<% _.each(locations, function(location, index) { %>
  <a href="<%= Routes.location_path(location, { ref: 'map_list' + index }) %>" class="list-group-item">
    <img src="<%= location.image %>" alt="<% location.title %> logo" class="pull-left" />
    <div>
      <h4 class="list-group-item-heading"><%= location.title %></h4>
      <p class="list-group-item-text small"><%= location.address %></p>
    </div>
  </a>
<% }); %>
</div>
