<div data-id="<%= location.id %>" class="location-list-item <%= active ? 'marker-active' : ''%> list-group-item">
  <div class="list-index">
    <span class="text-muted"><%= location.marker_id %></span>
  </div>
  <img src="<%= location.image %>" alt="<% location.title %> logo" class="pull-left" />
  <div>
    <a class="text-primary" href="<%= Routes.location_path(location) %>"><h4 class="list-group-item-heading"><%= location.title %></h4></a>
    <p class="strong list-group-item-text small"><%= location.team_name %></p>
    <p class="text-muted list-group-item-text small"><%= location.street %></p>
  </div>
  <div class="active-content">
    <p class="text-muted list-group-item-text small"><%= location.address.split(',').slice(1).join(',') %></p>
    <br/>
    <ul class="small list-unstyled">
      <% if (null !== location.phone && location.phone.length > 0) { %>
        <li><span class="col-md-offset-1 label">Phone</span> <a class="phone" href="tel:<%= location.phone %>"><%= location.phone %></a></li>
      <% } %>
      <% if (null !== location.email && location.email.length > 0) { %>
        <li><span class="col-md-offset-1 label">Email</span> <a class="email" href="mailto:<%= location.email %>"><%= location.email %></a></li>
      <% } %>
      <% if (null !== location.website && location.website.length > 0) { %>
        <li><span class="col-md-offset-1 label">Website</span> <a class="website" href="http://<%= location.website %>"><%= location.website %></a></li>
      <% } %>
      <% if (null !== location.facebook && location.facebook.length > 0) { %>
        <li><span class="col-md-offset-1 label"></span><a class="facebook" href="http://fb.com/<%= location.facebook %>"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <% } %>
    </ul>
  </div>
  <span class="text-info distance small"><%= location.distance %></span>
</div>
