<a href="<%= Routes.location_path(location, { ref: 'map_list' + location.marker_id }) %>" data-id="<%= location.id %>" class="list-group-item">
  <div class="list-index">
    <span class="text-muted pull-left"><%= location.marker_id %></span>
  </div>
  <img src="<%= location.image %>" alt="<% location.title %> logo" class="pull-left" />
  <div>
    <h4 class="text-primary list-group-item-heading"><%= location.title %></h4>
    <p class="text-muted list-group-item-text small"><%= location.address %></p>
  </div>
  <span class="text-info distance small"><%= location.distance.toFixed(2) %>mi</span>
</a>
