<li class="location-card">
  <a class="thumbnail" href="<%= Routes.location_path(location) %>">
    <div class="text-center pull-left">
      <i class="center-block fa-3x fa fa-arrow-up direction-<%= location.bearing_direction %>"></i>
      <p style="padding-left: 5px;" class="small text-info distance">
        <%= location.bearing_name %> (<%= location.distance %>)
      </p>
    </div>
    <div class="pull-left">
      <div class="caption">
        <p class="text-primary">
          <%= location.title %>
        </p>
        <b class="small">
          <%= location.team_name %>
        </b>
        <p>
          <span class="small text-muted">
            <%= location.street %>
          </span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </a>
</li>

