<li class="card nearby-card">
  <a class="thumbnail" href="<%= Routes.location_path(location) %>">
      <div class="pull-left">
        <img class="img-tiny" src="<%= location.image %>" alt="<%= location.title %> logo" />
      </div>
      <div class="pull-left">
        <h5 class="text-primary">
          <%= location.title %>
        </h5>
        <p class="small">
          <%= location.team_name %>
        </p>
        <p>
          <span class="small text-muted">
            <%= location.street %>
          </span>
        </p>
      </div>
      <div class="pull-right direction">
        <i class="center-block fa-3x fa fa-arrow-up direction-<%= location.bearing_direction %>"></i>
        <p class="text-center small text-info distance">
          <%= location.bearing_name %> (<%= location.distance %>)
        </p>
      </div>
    <div class="clear"></div>
  </a>
</li>

