<div data-id="<%= location.id %>" class="location-list-item list-group-item">
  <p class="timestamp small text-right pull-right text-muted"><%= location.created_at %></p>
  <img width="66" height="66" src="<%= location.image %>" alt="<% location.title %> logo" class="logo pull-left" />
  <div class="content">
    <a class="text-primary" title="<%= location.title %>" href="<%= Routes.location_path(location, {ref: 'recent_l'}) %>"><h4 class="list-group-item-heading"><%= location.title %></h4></a>
    <span class="team-title strong small"><%= location.team_name %></span>
    <br />
    <a href="<%= Routes.map_path({center: location.coordinates, ref: 'recent_l'}) %>" title="See <%= location.title %> on the map">
      <img class="marker pull-left" src="//storage.googleapis.com/bjjmapper/markers/marker_blank.png"/>
      <span class="small address"><%= location.address %></span>
      <span class="small">(view on map)</span>
    </a>
  </div>
  <div class="clear"></div>
</div>
