<div class="show-location-overlay container-fluid">
  <a href="<%= Routes.location_path(location, { ref: 'map_item' }) %>" data-no-turbolink>
    <div class="row">
      <div class="col-md-3">
        <br />
        <img class="center-block" src="<%= location.image %>" />
      </div>
      <div class="col-md-9">
        <h4 class="list-group-item-heading"><%= location.title %></h4>
        <p class="list-group-item-text team-title"><%= location.team_name %></p>
        <span class="address">
          <%= location.address.split(',')[0] %>
          <br />
          <%= location.address.split(',').slice(1).join(',') %>
        </span>
      </div>
    </div>
  </a>
  <br />
  <ul class="text-center nav">
    <li>
      <a data-id="<%= location.id %>" class="directions" href="#">Get Directions&hellip;</a>
    </li>
  </ul>
</div>
