<div class="show-location-overlay show-location container-fluid">
  <a href="<%= Routes.location_path(location, { ref: 'map_item' }) %>" data-no-turbolink>
    <div class="row">
      <div class="col-md-3">
        <br />
        <img class="center-block" src="<%= location.image %>" />
      </div>
      <div class="col-md-9">
        <h4>
          <span class="title"><%= location.title %></span>
          <br />
          <span class="small"><%= location.team_name %></span>
        </h4>
        <span class="address"><%= location.address %></span>
      </div>
    </div>
  </a>
  <br />
  <ul class="text-center nav">
    <li>
      <a href="#">Get directions</a>
    </li>
    <li>
      <a href="<%= Routes.location_path(location, { ref: 'map_item_link' }) %>" data-no-turbolink>See More</a>
    </li>
  </ul>
</div>
