<div class="text-center center-block show-location-overlay">
  <a href="<%= Routes.location_path(location.param, { ref: 'map_item' }) %>" data-no-turbolink>
    <% if (location.image) { %>
      <img src="<%= location.image %>" alt="<% location.title %>" class="center-block logo img-rounded" />
    <% } else { %>
      <canvas class="img-rounded center-block logo" width="50" height="50" data-name="<%= location.title %>" data-avatar-placeholder></canvas>
    <% } %>
        <h4 class="list-group-item-heading"><%= location.title %></h4>
        <span class="rating">
          <% for (var n = 1; n <= 5; ++n) { %> 
            <% if (location.stars >= n) { %>
              <span class="fa fa-star"></span>
            <% } else if (location.stars+1 == n && location.half_star) { %>
              <span class="fa fa-star-half-o"></span>
            <% } else { %>
              <span class="fa fa-star-o"></span>
            <% } %>
          <% } %>
        </span>
        <span class="text-muted small">
          (<%= location.review_count %>)  
        </span>
        <br />
        <br />
        <span class="address small">
          <span class="fa fa-map-marker"></span>
          <%= location.street %>
        </span>
  </a>
  <br />
  <br />
  <ul class="text-center nav">
    <a data-location-id="<%= location.id %>" class="btn btn-default btn-sm add-review" href="#">
      <span class="fa fa-star rating"></span>
      Review
    </a>
    <a data-id="<%= location.id %>" class="btn btn-default btn-sm directions" href="#">Get Directions&hellip;</a>
  </ul>
</div>
