<div data-id="<%= location.id %>" class="map-list-item location-list-item <%= active ? 'marker-active' : ''%> list-group-item">
  <div class="inactive-content">
    <div class="list-index">
      <span><%= location.marker_id %></span>
    </div>
    <% if (location.image) { %>
      <img src="<%= location.image %>" alt="<% location.title %> logo" class="img-rounded logo pull-left" />
    <% } else { %>
      <canvas class="img-rounded logo pull-left" width="50" height="50" data-name="<%= location.title %>" data-avatar-placeholder></canvas>
    <% } %>
    <div>
      <h4 class="list-group-item-heading"><%= location.title %></h4>
      <p class="team-title strong list-group-item-text small"><%= location.team_name %></p>
      <p class="address list-group-item-text small">
        <%= location.street %>
          </p>
        </div>
        <span class="text-info distance small"><%= location.distance %></span>
      </div>
      <div class="active-content">
        <a class="location-link" href="<%= Routes.location_path(location.param) %>" alt="See more about <%= location.title %>">
          <div class="list-index">
            <span><%= location.marker_id %></span>
          </div>
          <% if (location.image) { %>
            <img src="<%= location.image %>" alt="<% location.title %>" width="100" class="logo-large img-rounded pull-left" />
          <% } else { %>
            <canvas class="img-rounded logo-large pull-left" width="100" height="100" data-name="<%= location.title %>" data-avatar-placeholder></canvas>
          <% } %>
          <div>
            <h4 class="list-group-item-heading"><%= location.title %></h4>
            <p class="strong list-group-item-text small team-title"><%= location.team_name %></p>
            <span class="rating">
              <% for (var n = 1; n <= 5; ++n) { %> 
                <% if (location.stars >= n) { %>
                  <span class="fa fa-star"></span>
                <% } else if (location.stars+1 == n && location.half_star) { %>
              <span class="fa fa-star-half-o"></span>
            <% } else { %>
              <span class="fa fa-star-o"></span>
            <% } %>
          <% } %>
        </span>
        <span class="text-muted small">
          (<%= location.review_count %>)  
        </span>
        <br />
        <br />
        <p class="address list-group-item-text">
          <span class="fa fa-map-marker"></span>
          <span><%= location.address %></span>
        </p>
      </div>
      <br/>
    </a>
    <ul class="small list-unstyled">
      <% if (null !== location.phone && location.phone.length > 0) { %>
        <li>
          <span class="col-md-offset-1 label text-muted upcase">Phone</span>
          <a class="phone" href="tel:<%= location.phone %>">
            <span class="fa fa-phone"></span>
            <%= location.phone %>
          </a>
        </li>
      <% } %>
      <% if (null !== location.email && location.email.length > 0) { %>
        <li>
          <span class="col-md-offset-1 label text-muted upcase">Email</span>
          <a class="email" href="mailto:<%= location.email %>">
            <span class="fa fa-envelope"></span>
            <%= location.email %>
          </a>
        </li>
      <% } %>
      <% if (null !== location.website && location.website.length > 0) { %>
        <li>
          <span class="col-md-offset-1 label text-muted upcase">Website</span>
          <a target="_blank" class="website" href="http://<%= location.website %>">
            <span class="fa fa-external-link"></span>
            <%= location.website %>
          </a>
        </li>
      <% } %>
    </ul>
    <span class="text-info distance small"><%= location.distance %></span>
  </div>
</div>
