<div class="show-location-overlay container-fluid">
  <a href="<%= Routes.location_path(location.param, { ref: 'map_item' }) %>" data-no-turbolink>
    <div class="row">
      <div class="col-md-3">
        <img class="center-block" src="<%= location.image %>" />
      </div>
      <div class="col-md-9">
        <h4 class="list-group-item-heading"><%= location.title %></h4>
        <p class="list-group-item-text small team-title"><%= location.team_name %></p>
        <span class="rating">
          <% for (var n = 1; n <= 5; ++n) { %> 
            <% if (location.stars >= n) { %>
              <span class="fa fa-star"></span>
            <% } else if (location.stars+1 == n && location.half_star) { %>
              <span class="fa fa-star-half-o"></span>
            <% } else { %>
              <span class="fa fa-star-o"></span>
            <% } %>
          <% } %>
        </span>
        <br />
        <span class="address small">
          <span class="fa fa-map-marker"></span>
          <%= location.street %>
        </span>
      </div>
    </div>
  </a>
  <br />
  <ul class="text-center nav">
    <a data-location-id="<%= location.id %>" class="btn btn-default btn-sm add-review" href="#">
      <span class="fa fa-star rating"></span>
      Review
    </a>
    <a data-id="<%= location.id %>" class="btn btn-default btn-sm directions" href="#">Get Directions&hellip;</a>
  </ul>
</div>
