<div class="show-location-overlay container-fluid">
  <a href="<%= location.link %>" data-no-turbolink>
        <h4 class="list-group-item-heading"><%= location.title %></h4>
        <p class="list-group-item-text small team-title"><%= location.entities %></p>
        <p class="date list-group-item-text small">
          <span class="fa fa-calendar"></span>
          <%= moment(location.dates[0]).format("MMMM Do") %>
        </p>
        <span class="address small">
          <span class="fa fa-map-marker"></span>
          <%= location.street %>
        </span>
  </a>
  <br />
  <ul class="text-center nav">
    <li>
      <a data-id="<%= location.id %>" class="directions" href="#">Get Directions&hellip;</a>
    </li>
  </ul>
</div>
