<div data-id="<%= location.id %>" class="map-list-item event-list-item <%= active ? 'marker-active' : ''%> list-group-item tournament">
  <div class="inactive-content">
    <div class="list-index">
      <span><%= location.marker_id %></span>
    </div>
    <img src="<%= location.image %>" alt="<% location.events[0].title %> logo" class="logo pull-left" />
    <div>
      <h4 class="list-group-item-heading"><%= location.events[0].title %></h4>
      <p class="team-title strong list-group-item-text small"><%= location.events[0].organization.name %></p>
      <p class="address list-group-item-text small">Starts on <%= moment(location.events[0].starting).format('MMMM Do YYYY, h:mm a') %></p>
    </div>
    <span class="text-info distance small"><%= location.distance %></span>
  </div>
  <div class="active-content">
    <a class="location-link" href="<%= Routes.location_event_path(location.id, location.events[0].id) %>" alt="See more about <%= location.events[0].name %>">
      <div class="list-index">
        <span><%= location.marker_id %></span>
      </div>
      <img src="<%= location.image %>" alt="<% location.events[0].title %> logo" class="logo pull-left" />
      <div>
        <h4 class="list-group-item-heading"><%= location.events[0].title %></h4>
        <p class="strong list-group-item-text small team-title"><%= location.events[0].organization.name %></p>
        <p class="list-group-item-text small address">Starts on <%= moment(location.events[0].starting).format('MMMM Do, h:mm a') %></p>
        <p class="list-group-item-text small address">Ends on <%= moment(location.events[0].ending).format('MMMM Do, h:mm a') %></p>
      </div>
      <br/>
    </a>
    <ul class="small list-unstyled">
      <% if (null !== location.events[0].organization.website && location.events[0].organization.website.length > 0) { %>
        <li><span class="col-md-offset-1 label">Website</span> <a class="website" href="http://<%= location.events[0].organization.website %>"><%= location.events[0].organization.website %></a></li>
      <% } %>
    </ul>
    <span class="text-info distance small"><%= location.distance %></span>
  </div>
</div>
