<div class="review">
  <span class="small text-muted"><%= review.created_at %></span>
  <span class="rating">
    <% _.times(5, function(i) { %><span class="fa fa-<%= review.rating > i ? 'star' : 'star-o' %>"></span><% }); %>
  </span>
  <br />
  <div><%= review.body %></div>
  <div class="small text-muted"><a href="<%= review.user_link %>"><%= review.user_name %></a></div>
</div>
