<div class="review">
  <span class="rating">
    <% _.times(5, function(i) { %><span class="fa fa-<%= review.rating > i ? 'star' : 'star-o' %>"></span><% }); %>
  </span>
  <span class="small text-muted"><%= review.created_at %></span>
  <br />
  <div class="review-body"><%= review.body %></div>
  <div class="small text-muted"><a href="<%= review.author_link %>"><%= review.author_name %></a> (<%= review.src %>)</div>
</div>
