<div class="col-md-4 card student-card">
  <button class="edit-field close remove-student" aria-hidden="true" type="button" data-id="<%= student.id %>">&times;</button>
  <a class="thumbnail" data-user-id="<%= student.id %>" href="<%= Routes.user_path(student) %>">
    <% if (student.thumbnailx && student.thumbnaily) { %>
      <div class="avatar pull-left" style="background: url('<%= student.image %>') top -<%= student.thumbnaily %>px left -<%= student.thumbnailx %>px no-repeat"></div>
    <% } else { %>
      <div class="avatar pull-left" style="background: url('<%= student.image %>') top center no-repeat"></div>
    <% } %>
    <div class="caption">
      <h3 style="margin-top: 10px !important">
        <%= student.name %>
        <small><%= student.nickname %></small>
      </h3>
      <div class="belt-<%= student.belt_rank %> belt">
        <b class="pull-left small">
          <%= student.rank_in_words %>
        </b>
        <div class="grade-<%= student.stripe_rank %> grade">
          <% _.times(student.stripe_rank, function() { %>
            <span class="stripe"></span>
          <% }) %>
        </div>
      </div>
      <p>
        <%= student.summary %>
      </p>
    </div>
  </a>
</div>

