<div data-id="<%= event.id %>" class="upcoming-event location-list-item list-group-item">
  <a href="<%= event.link %>">
    <div class="image-container">
      <img src="<%= event.image %>" alt="<%= event.title %> logo" />
      <span class="timestamp small">
        <span class="month"><%= moment(event.starting).format("MMM") %></span>
        <br />
        <span class="day"><%= moment(event.starting).date() %></span>
      </span>
    </div>
  </a>
  <a class="text-primary" title="<%= event.title %>" href="<%= event.link %>"><h4 class="list-group-item-heading"><%= event.title %></h4></a>
  <p class="pull-left small strong team-title"><%= event.instructor.name %></p>
  <br />
  <a class="small address" href="<%= Routes.map_path({lat: event.location.lat, lng: event.location.lng, ref: 'upcoming_l'}) %>" title="See <%= event.title %> on the map">
    <span class="fa fa-map-marker"></span>
    <span><%= event.location.city + ", " + event.location.country %></span>
  </a>
  <div class="clear clear-fix"></div>
</div>
