%footer.container-fluid.footer
  .row
    .col-sm-8.col-md-6.text-left.small
      &copy; 2017 BJJMapper
      %span &#124;
      = link_to 'Contact Us', meta_path
      %span &#124;
      = link_to 'Sitemap', sitemap_path
      %span &#124;
      %span= link_to "I'm feeling lucky", random_locations_path
      %span &#124;
      %span
        = link_to 'https://www.facebook.com/BJJMapper', target: '_blank' do
          %b.fa.fa-facebook-square.fa-2x
      %span &nbsp;
      %span
        = link_to 'https://www.instagram.com/BJJMapper', target: '_blank' do
          %b.fa.fa-instagram.fa-2x
    .col-sm-4.col-md-6.text-right
      = render partial: 'mixpanel_partner'

