= content_for(:scripts) do
  = render partial: 'facebook_sdk'

.container.homepage
  .div#fb-root
  .row
    .col-md-5
      %h3.pull-left Near You
      %a.pull-right.btn.btn-default.btn-sm.title-btn{:href => map_path(lat: @map[:lat], lng: @map[:lng], :ref => 'homepage'), :title => 'Academy Map'}
        %span.fa.fa-search-plus
        See larger map

      .map-canvas.clear{:style => 'height: 350px'}
      .map-list-view
        .location-list
          = render partial: 'locations/map_list', locals: { show_create: false }
      %a{:href => map_path(lat: @map[:lat], lng: @map[:lng], :ref => 'homepage'), :title => 'Academy Map'}
        %h4.text-center
          %span.fa.fa-search-plus
          See larger map
    .col-md-4
      %h3.pull-left
        New Additions
      .btn-group.title-btn.pull-right
        = link_to wizard_locations_path(ref: 'hprec'), class: 'btn btn-success btn-sm' do
          %i.fa.fa-map-marker
          Create Academy
        %button.btn.btn-success.btn-sm.dropdown-toggle{:'aria-expanded' => false, :'data-toggle' => 'dropdown', :type => 'button'}
          %span.caret
          %span.sr-only
            Toggle Dropdown
        %ul.dropdown-menu{:role => 'menu'}
          %li
            = link_to wizard_locations_path(ref: 'hprec', type: Location::LOCATION_TYPE_EVENT_VENUE) do
              %i.fa.fa-calendar-o
              Create Event

      .recent-locations.location-list.clear
    .col-md-3
      %h3 &nbsp;
      .fb-page{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "https://www.facebook.com/BJJMapper", "data-show-border" => "true", "data-show-faces" => "true", "data-show-posts" => "true"}
      %br/
      %br/
      = render partial: 'google_adsense'
  .row
    .col-md-12
      %h3 Around The World
  .row
    - per_column = (@countries.size / 4.0).ceil
    - @countries.each_slice(per_column).each do |countries|
      .col-md-3
        - countries.each do |country|
          = link_to directory_segment_path(country: country.name), class: 'small block', title: "List of BJJ gyms in #{country.name}" do
            Brazilian Jiu-Jitsu academies in
            %strong= country.name
  .row
    .col-md-8.col-md-offset-2.hidden-sm.hidden-xs
      %br/
      = render partial: 'application/google_adsense_banner'

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      recentView = new RollFindr.Views.RecentLocationsView()

      mapModel = new RollFindr.Models.Map(#{render_json(@map)})
      mapView = new RollFindr.Views.MapView({el: $('.homepage'), model: mapModel})

