= content_for(:scripts) do
  = render partial: 'facebook_sdk'

.container.homepage
  %div#fb-root
  .row.welcome
    .col-md-10.col-md-offset-2
      %img.pull-left.hidden-sm.hidden-xs.main-logo{:src => 'https://storage.googleapis.com/bjjmapper/logo.png', :style => 'width: 100px; height: 100px'}/
      %div.pull-left
        %h1.welcome
          %span.hidden-sm.hidden-xs Welcome to 
          %span BJJMapper
        %h3 The authoritative Brazilian Jiu-Jitsu academy directory
  .row.buffer-top-md
    .col-md-offset-1.col-lg-9.col-md-8.col-xs-12.text-center
      %form.form.form-horizontal{:action => map_path(ref: 'home'), :method => 'GET'}
        .control-group.well.center-block.search-well
          .controls.form-inline
            %input.form-control.input-lg{:name => 'query', :size => '40', :placeholder => "Example: Carlson Gracie, Art of Jiu-Jitsu", :type => "text"}/
            .input-group
              %input.input-lg{:name => 'location', :size => '10', :placeholder => "Anywhere", :type => "text"}/
              %button.btn.btn-default.btn-lg.input-group-addon-lg{:type => "submit"}
                %span.fa.fa-search
  -#.row
    .col-md-8.col-md-offset-2.hidden-sm.hidden-xs
      = render partial: 'application/google_adsense_banner'
  .row
    .col-md-5
      %h3.pull-left Near You
      %a.pull-right.btn.btn-default.btn-sm.title-btn{:href => map_path(center: @map[:center], :ref => 'homepage'), :title => 'Academy Map'}
        %span.fa.fa-search-plus
        See larger map

      .map-canvas.clear{:style => 'height: 350px'}
      .map-list-view
        .location-list
          = render partial: 'locations/map_list', locals: { show_create: false }
      %a{:href => map_path(center: @map[:center], :ref => 'homepage'), :title => 'Academy Map'}
        %h4.text-center
          %span.fa.fa-search-plus
          See larger map
    .col-md-4
      %h3.pull-left 
        New Additions
      = link_to wizard_locations_path(ref: 'hprec'), class: 'pull-right title-btn btn btn-success btn-sm' do
        %i.fa.fa-map-marker
        Create Academy

      .recent-locations.location-list.clear
    .col-md-3
      %h3 &nbsp;
      .fb-page{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "https://www.facebook.com/BJJMapper", "data-show-border" => "true", "data-show-faces" => "true", "data-show-posts" => "true"}
      %br/
      %br/
      = render partial: 'google_adsense'
  .row
    .col-md-12
      %h3 Around The World
  .row
    - per_column = (@countries.size / 4.0).ceil
    - @countries.keys.sort.each_slice(per_column).each do |countries|
      .col-md-3
        - countries.each do |country|
          = link_to directory_index_path(country), class: 'small block', title: "List of BJJ gyms in #{country}" do
            Brazilian Jiu-Jitsu academies in
            %strong= country
  .row
    .col-md-8.col-md-offset-2.hidden-sm.hidden-xs
      %br/
      = render partial: 'application/google_adsense_banner'

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      recentView = new RollFindr.Views.RecentLocationsView()

      mapModel = new RollFindr.Models.Map(#{@map.to_json})
      mapView = new RollFindr.Views.MapView({el: $('.homepage'), model: mapModel})

