= content_for(:scripts) do
  = render partial: 'facebook_sdk'
= content_for(:head) do
  = stylesheet_link_tag 'homepage', :media => "all"

.container.homepage
  .div#fb-root
  .row
    .col-md-5
      %h3.pull-left Nearby 
      %span.pull-right
        %a.btn.btn-default.btn-sm.title-btn{:href => map_path(lat: @map[:lat], lng: @map[:lng], :ref => 'homepage'), :title => 'Academy Map'}
          %span.fa.fa-search-plus
          See larger map
        .btn-group.title-btn
          = link_to wizard_locations_path(ref: 'hprec'), class: 'btn btn-success btn-sm' do
            %i.fa.fa-map-marker
            New Academy
          %button.btn.btn-success.btn-sm.dropdown-toggle{:'aria-expanded' => false, :'data-toggle' => 'dropdown', :type => 'button'}
            %span.caret
            %span.sr-only
              Toggle Dropdown
          %ul.dropdown-menu{:role => 'menu'}
            %li
              = link_to wizard_events_path(ref: 'hprec') do
                %i.fa.fa-calendar-o
                New Event

      = render partial: 'maps/map'
    .col-md-4
      %h3.pull-left Upcoming Events
      .upcoming-events.location-list.loading.clear
        .loading-overlay
          %span.fa.fa-refresh.fa-3x.fa-spin
        .items
        .empty-message
          %i.text-muted There are no upcoming events
    .col-md-3
      %br/
      = render partial: 'application/facebook_widget' 
      %br/
      - if !FeatureSetting.enabled?(:hide_global_ads)
        = render partial: 'application/google_adsense'
      - if !FeatureSetting.enabled?(:hide_homepage_new_additions)
        = content_for(:scripts) do
          :coffeescript
            $(document).ready ->
              recentView = new RollFindr.Views.RecentLocationsView({count: 10})
          
        %h3.clear.clear-fix
          New Additions
        .recent-locations.location-list.loading.clear
          .loading-overlay
            %span.fa.fa-refresh.fa-3x.fa-spin
          .empty-message
            %i.text-muted There are no recent locations
          .items

  - unless FeatureSetting.enabled?(:hide_homepage_directory_segments)
    .row
      .col-md-12
        %h3 Around The World
    .row
      - per_column = (@countries.size / 4.0).ceil
      - @countries.each_slice(per_column).each do |countries|
        .col-md-3
          - countries.each do |country|
            = link_to directory_segment_path(country: country.name), class: 'small block', title: "List of BJJ gyms in #{country.name}" do
              Brazilian Jiu-Jitsu academies in
              %strong= country.name
  %hr/
  .row
    .col-md-12.hidden-sm.hidden-xs
      - if !FeatureSetting.enabled?(:hide_global_ads)
        %br/
        = render partial: 'application/google_adsense_banner'

= content_for(:scripts) do
  = javascript_include_tag 'map'
  :coffeescript
    $(document).ready ->
      upcomingView = new RollFindr.Views.UpcomingEventsView({count: 16})

      mapModel = new RollFindr.Models.Map(#{render_json(@map)})
      mapView = new RollFindr.Views.MapView({activateRandom: true, el: $('.map'), model: mapModel})

