= content_for(:scripts) do
  = render partial: 'facebook_sdk'

.container.page.meta
  %div#fb-root
  .row
    .col-md-8.jumbotron
      %h1
        %img{:src => '//storage.googleapis.com/bjjmapper/logo.png', :alt => 'BJJMapper logo'}/
        About BJJMapper
      %p.text-info
        %strong BJJMapper is an attempt to harnesses the passion of the Brazilian Jiu-Jitsu community,
        to create the authorative repository for accurate and up-to-date information about the sport of BJJ.
        Anyone can add and modify content. We are all caretakers of this knowledge.
      %ul
        %li Want to learn Jiu-Jitsu and need to find an academy?
        %li Passing through a new city and looking for a place to train?
        %li Ever wonder where Robson Moura teaches? Or who he received his black belt from?
        %li Does Buchecha have any upcoming seminars near me?
        %li Just how many Gracie Barra locations are there in the world?
        %li How many tournaments is the IBJJF hosting in Canada this year?
      %p We hope BJJMapper can help you answer these questions, and more.
    .col-md-3
      .fb-page{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "https://www.facebook.com/BJJMapper", "data-show-border" => "true", "data-show-faces" => "true", "data-show-posts" => "true"}
  .row
    .col-md-11.col-md-offset-1
      %h2
        Send us a message
        %address.small
          %a{:href => "mailto:info+meta@bjjmapper.com"} info@bjjmapper.com
  .row
    .col-md-7.col-md-offset-1
      = render partial: 'meta_contact_message' if params.key?(:contacted)
  .row
    .col-md-7.col-md-offset-1
      = render partial: 'contact_form'
    .col-md-2
      %a.text-info{:href => user_path('547415d4b3e83fea520000d8'), :alt => "Evan's profile"}
        %img{:src => image_path('evan-150.png')}/
        %p.small
          %strong I created BJJMapper because I love BJJ.
          Please reach out to me if you have any questions or comments. I'd love to hear your thoughts.
          %br/
          %small.clear= "-Evan"
