- new_review = Review.new(location: location)
.add-review-dialog.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'addReview', 'role' => 'dialog', 'tabindex' => -1}
  = form_for([location, new_review], url: location_reviews_path(location), html: { class: 'form editable edit-mode'}) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'data-dismiss' => 'modal', 'type' => 'button'}
            %span{'aria-hidden' => 'true'} &times;
            %span.sr-only Close
          %h4.modal-title 
            %span.fa.fa-thumb-tack
            Create Review of #{location.title}
        .modal-body
          %div.rating
            %a.fa.fa-star-o.fa-3x{'href' => '#', 'data-rating' => 1}
            %a.fa.fa-star-o.fa-3x{'href' => '#', 'data-rating' => 2}
            %a.fa.fa-star-o.fa-3x{'href' => '#', 'data-rating' => 3}
            %a.fa.fa-star-o.fa-3x{'href' => '#', 'data-rating' => 4}
            %a.fa.fa-star-o.fa-3x{'href' => '#', 'data-rating' => 5}
          %br/
          = f.hidden_field :rating
          = f.text_area :body, class: 'form-control input-md', disabled: true, placeholder: 'Were the facilities clean? Did class start on time? How was the instruction?'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal'}
            Cancel
          %button.btn.btn-primary{:disabled => 'true', :type => 'submit'}
            Save

= content_for(:scripts) do 
  :coffeescript
    reviewDialogView = new RollFindr.Views.AddReviewView()
