- country_name = country_name_for(location.country)
%ol.breadcrumb.visible-xs.small.display-field{style: 'margin-bottom: 4px !important'}
  %li
    %a{href: directory_segment_path(country_name), title: "List of Brazilian Jiu-Jitsu schools in #{country_name}"}= location.country 
  - if location.country.present? && location.city.present?
    %li
      %a{href: directory_segment_path(location.country, location.city), title: "List of Brazilian Jiu-Jitsu schools in #{location.city}"}= location.city

%ol.breadcrumb.hidden-xs
  %li
    %a{href: root_path} Home
  %li
    %a{href: directory_index_path, title: 'List of Brazilian Jiu-Jitsu schools by country'} BJJ Academy Directory
  - if country_name.present?
    %li
      %a{href: directory_segment_path(country_name), title: "List of Brazilian Jiu-Jitsu schools in #{country_name}"}= country_name
  - if country_name.present? && location.city.present?
    %li
      %a{href: directory_segment_path(country_name, location.city), title: "List of Brazilian Jiu-Jitsu schools in #{location.city}"}= location.city
  - if local_assigns.key?(:sub)
    %li
      %a{href: location_path(location)}= location.title
    %li.active= sub
  - else
    %li.active= location.title
