.new-location.template
  = form_for(Location.new, html: { class: 'form-horizontal' } ) do |f|
    %fieldset
      / Form Name
      %legend Create Academy
      / Text input
      .form-group
        %label.col-md-6.control-label{:for => "location[title]"} Name
        .col-md-6
          = f.text_field :title, placeholder: 'The name of your academy', class: 'form-control input-md'
      / Select Basic
      .form-group
        %label.col-md-6.control-label{:for => "location[team]"} Team
        .col-md-6
          = f.select :team_id, Team.all.map { |team| [team.name, team.id] }, {}, class: 'form-control  input-md'
      / Textarea
      .form-group
        %label.col-md-6.control-label{:for => "location[description]"} Description
        .col-md-6
          = f.text_area :description, placeholder: 'A brief description of your academy', class: 'form-control'
      = f.hidden_field :coordinates, class: 'coordinates form-control'


      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                Location
          #collapseOne.panel-collapse.collapse.in
            .panel-body
              .form-group
                %label.col-md-6.control-label{:for => 'location[street]'} Street
                .col-md-6= f.text_field :street, class: 'street form-control input-md'
              .form-group
                %label.col-md-6.control-label{:for => 'location[city]'} City
                .col-md-6= f.text_field :city, class: 'city form-control input-md'
              .form-group
                %label.col-md-6.control-label{:for => 'location[state]'} State
                .col-md-6= f.text_field :state, class: 'state form-control input-md'
              .form-group
                %label.col-md-6.control-label{:for => 'location[country]'} Country
                .col-md-6= f.text_field :country, class: 'country form-control input-md'
              .form-group
                %label.col-md-6.control-label{:for => 'location[postal_code]'} Zipcode
                .col-md-6= f.text_field :postal_code, class: 'postal_code form-control input-md'

      %button.btn.pull-right.btn-primary{:type => "Submit"} Create
