.create-location-dialog.create-location-full-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createLocation", :role => "dialog", :tabindex => "-1"}
  = form_for(Location.new, html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            %i.fa.fa-map-marker
            Tell us about the academy
        .modal-body
          .container-fluid
            .row
              .col-md-3
                %img.center-block.edit-image{'data-default-src' => image_path(LocationDecorator::DEFAULT_IMAGE), :alt => 'logo', :src => image_path(LocationDecorator::DEFAULT_IMAGE)}/
              .col-md-8
                %fieldset
                  .form-group
                    %label.control-label{:for => "location[title]"} Name*
                    = f.text_field :title, placeholder: 'The name of the academy', class: 'form-control input-lg'
                  .form-group
                    %label.control-label{:for => "location[team]"} Team
                    = f.select :team_id, grouped_options_for_select(all_teams_select_groups), { include_blank: true }, { class: 'form-control  input-md' }
                %fieldset
                  .form-group
                    %label.control-label{:for => 'location[street]'} Street*
                    = f.text_field :street, class: 'street form-control input-md'
                  .form-group
                    %label.control-label{:for => 'location[postal_code]'} Postal code*
                    = f.text_field :postal_code, class: 'postal-code form-control input-md'

        .modal-footer
          %span.pull-left.small.clear *Denotes required field
          %button.btn.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
          %button.btn.btn-success{:disabled => true, :type => "submit"} Create &amp; Continue &raquo;

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      mapView = new RollFindr.Views.CreateLocationDialogView({ el: $('.create-location-full-dialog') })

