.create-location-dialog.create-location-quick-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createLocationQuick", :role => "dialog", :tabindex => "-1"}
  = form_for(Location.new, html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4 
            %i.fa.fa-map-marker
            What is the name of the academy?
          %p.small You can continue editing and add additional details on the following page.
        .modal-body
          .container-fluid
            .col-md-2.col-md-offset-1
              %img.edit-image{'data-default-src' => image_path(LocationDecorator::DEFAULT_IMAGE), :alt => 'logo', :src => image_path(LocationDecorator::DEFAULT_IMAGE)}/
            .col-md-9
              %fieldset
                / Text input
                .form-group
                  %label.col-md-4.control-label{:for => "location[title]"} Name*
                  .col-md-8
                    = f.text_field :title, placeholder: 'The name of the academy', class: 'form-control input-md'
                / Select Basic
                .form-group
                  %label.col-md-4.control-label{:for => "location[team]"} Team
                  .col-md-8
                    = f.select :team_id, options_for_select(all_teams.map { |team| [team.name, team.id, {'data-img-src' => team.image}] }), { include_blank: true }, class: 'form-control  input-md'
                / Textarea
                .form-group
                  %label.col-md-4.control-label{:for => "location[description]"} Description
                  .col-md-8
                    = f.text_area :description, rows: 4, placeholder: 'A brief description of the academy', class: 'form-control'
                = f.hidden_field :coordinates, class: 'coordinates form-control'

        .modal-footer
          %span.pull-left.small.clear *Denotes required field
          .pull-right.edit-field
            %button.btn.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-success{:disabled => true, :type => "submit"} Create &amp; Continue &raquo;

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      mapView = new RollFindr.Views.CreateLocationDialogView({ el: $('.create-location-quick-dialog') })

