.create-location-dialog.create-location-quick-dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createLocationQuick", :role => "dialog", :tabindex => "-1"}
  = form_for(Location.new, html: { class: 'form-horizontal' } ) do |f|
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            %i.fa.fa-map-marker
            What is the name of the academy?
          %p.text-info.small You can continue editing and add additional details on the following page.
        .modal-body
          .container-fluid
            .col-md-3
              %img.logo.center-block.edit-image{'data-default-src' => '//storage.googleapis.com/bjjmapper/academy-default-100.png', :alt => 'logo', :src => '//storage.googleapis.com/bjjmapper/academy-default-100.png'}/
            .col-md-8
              %fieldset
                / Text input
                .form-group
                  %label.control-label{:for => "location[title]"} Name*
                  = f.text_field :title, placeholder: 'The name of the academy', class: 'form-control input-lg'
                / Select Basic
                .form-group
                  %label.control-label{:for => "location[team]"} Team
                  = f.select :team_id, grouped_options_for_select(all_teams_select_groups), { include_blank: true }, { class: 'form-control  input-md' }
                / Textarea
                = f.hidden_field :coordinates, class: 'coordinates form-control'

        .modal-footer
          %span.pull-left.small.clear *Denotes required field
          .pull-right.edit-field
            %button.btn.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-success{:disabled => true, :type => "submit"} Create &amp; Continue &raquo;

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      mapView = new RollFindr.Views.CreateLocationDialogView({ el: $('.create-location-quick-dialog') })

