.row
  .col-md-12
    %h2 Browse by Location
.row
  - per_column = (@countries.size / 2.0).ceil
  - @countries.keys.sort.each_slice(per_column).each do |countries|
    .col-md-4
      - countries.each do |country|
        %h3= link_to country, directory_index_path(country), title: "List of Brazilian Jiu-Jitsu gyms in #{country}"
        - if (@cities.has_key?(country))
          %ul.list-inline
            - @cities[country].sort.each do |city|
              %li.small= link_to city, directory_index_path(country, city), title: "List of Brazilian Jiu-Jitsu gyms in #{city}, #{country}"
  .col-md-3.col-md-offset-1
    = render partial: 'google_adsense'
%hr/
.row
  .col-md-10
    %h2
      Browse by Team
      %span.small= "#{all_teams.size} teams"
    %a{:name => 'teams'}
  .col-md-2.text-right
    = link_to new_team_path(ref: 'directory_index'), class: 'btn btn-success', style: 'margin-top: 20px' do
      %i.fa.fa-group
      Create Team

.row
  .col-md-12
  - groups = all_teams_groups
  - per_column = (groups[nil].size / 3.0).ceil
  - groups[nil].each_slice(per_column).each do |teams|
    %ul.col-md-4.list-unstyled.team-index
      - teams.each do |team|
        %li
          - if groups[team.to_param].present?
            %h3
              = link_to(team_path(team), title: "List #{team.name} Brazilian Jiu-Jitsu gyms") do
                - if team.image.present?
                  = image_tag team.image, alt: "#{team.name} logo", class: 'logo'
                - else
                  %span.logo
                = team.object.name
              %span.small
                = surround '(', ')' do
                  = team.locations.count
            %ul.list-inline
              - groups[team.to_param].drop(1).each do |t|
                %li.small= link_to(t.object.name, team_path(t), title: "List #{t.name} Brazilian Jiu-Jitsu gyms")
          - else
            %h3
              = link_to(team_path(team), title: "List #{team.name} Brazilian Jiu-Jitsu gyms") do
                - if team.image.present?
                  = image_tag team.image, alt: "#{team.name} logo", class: 'logo'
                - else
                  .logo
                = team.object.name
              %span.small
                = surround '(', ')' do
                  = team.locations.count
