.row
  .col-md-6
    %h2 Browse by Location
    - @countries.each_pair do |k,v|
      %h3= link_to k, locations_path(country: v)
      - if (@cities.has_key?(k))
        %ul.list-inline
          - @cities[k].sort.each do |city|
            %li.small= link_to city, locations_path(country: v, city: city), title: "Brazilian Jiu-Jitsu academies in #{city}"

  .col-md-6
    %h2 
      Browse by Team
      %span.small= "#{all_teams.size} teams"
    %ul.list-unstyled
      - all_teams.each do |t|
        %li
          %h4= link_to t.name, team_path(t), title: "#{t.name} Brazilian Jiu-Jitsu academies"

