%span<
  - if location.team.present?
    = "'#{location.title}' is a #{location.team.name} affiliated Brazilian Jiu-Jitsu academy located at "
  - else
    = "'#{location.title}' is an independent Brazilian Jiu-Jitsu academy located at "
  = link_to map_path(lat: location.lat, lng: location.lng) do
    = "#{location.street} in #{location.city}, #{location.country}"

  - if location.instructors.present?
    - if location.instructors.length > 1
      = ". Instructors are "
    - else
      = ". The instructor is "

    - location.instructors.collect do |instructor|
      = link_to user_path(instructor) do
        = "#{instructor.name} (#{instructor.rank_in_words})"

  - if location.email.present?
    = ". Contact "
    = mail_to(location.email) 
    for more information.
