.row
  .col-md-10
    - if location.loctype == Location::LOCATION_TYPE_ACADEMY
      = render partial: 'locations/breadcrumb', locals: { location: location, sub: 'Schedule' }
    - else
      = render partial: 'location_events/breadcrumb', locals: { location: location }
  .col-md-2.text-right
    %a.pull-right.btn.btn-default.btn-sm.display-field{'data-begin-edit' => true, :href => schedule_location_path(location, edit: 1), :style => 'margin-left: 5px', :type => "button"} Edit
    %a.pull-right.btn.btn-default.edit-field.btn-sm{'data-cancel-edit' => true, :href => schedule_location_path(location, edit: 0), :style => 'margin-left: 5px'} Cancel
    %button.pull-right.btn.btn-default.btn-sm{'data-report-item' => true}
      %span.report Report
.row
  .col-md-12
    = render partial: 'schedule_event_deleted_message' if deleted?
    = render partial: 'schedule_timezone_missing_message' if location.timezone.blank?

.row
  .col-md-2
    %img{:src => location.image, :class => 'center-block'}/
  .col-md-10
    %h1
      Schedule for
      - if location.loctype == Location::LOCATION_TYPE_ACADEMY
        = link_to location.title, location_path(location, ref: 'loc_sched_title')
      - else
        = location.title
    = link_to map_path({lat: location.lat, lng: location.lng, ref: 'schedule_adr'}) do
      %span.fa.fa-map-marker
      = location.address
      (view on map)
