.row
  .col-md-10
    - if location.loctype == Location::LOCATION_TYPE_ACADEMY
      = render partial: 'locations/breadcrumb', locals: { location: location, sub: 'Schedule' }
    - else
      = render partial: 'location_events/breadcrumb', locals: { location: location }
  .col-md-2.text-right
    %a.pull-right.btn.btn-default.btn-sm.display-field{'data-begin-edit' => true, :href => schedule_location_path(location, edit: 1), :style => 'margin-left: 5px', :type => "button"} Edit
    %a.pull-right.btn.btn-default.edit-field.btn-sm{'data-cancel-edit' => true, :href => schedule_location_path(location, edit: 0), :style => 'margin-left: 5px'} Cancel
    %button.pull-right.btn.btn-default.btn-sm{'data-report-item' => true}
      %span.report Report
.row
  .col-md-12
    = render partial: 'schedule_event_deleted_message' if deleted?
    = render partial: 'schedule_timezone_missing_message' if location.timezone.blank?

.row
  .col-md-2
    - if location.image.present?
      %a{target: '_blank', href: location.image_large, title: "View large logo"}
        %img.edit-image.img-thumbnail{:width => location.image_width, :height => location.image_height, :src => location.image, :class => 'logo center-block'}/
    - else
      %canvas{class: "center-block img-rounded logo", width: location.image_width, height: location.image_height, :'data-name' => location.title, :'data-avatar-placeholder' => true}
  .col-md-10
    - if location.loctype == Location::LOCATION_TYPE_ACADEMY
      %h1
        Schedule for 
        = link_to location.title, location_path(location, ref: 'loc_sched_title')
    - else
      %h3.text-muted= location.title
    = render partial: 'show_address', locals: { location: location }
