%b.small.text-muted.upcase Moderation
%ul.list-unstyled
  %li= link_to 'Admin Panel', admin_location_path(location), class: 'small text-primary'
  %li
    = link_to fetch_admin_location_path(location), :class => 'small text-primary', :'data-remote' => true, :'data-method' => 'post' do
      %span.fa.fa-refresh
      Fetch
  %li= link_to 'Verify', verify_location_status_path(location), :class => 'small text-success', :'data-returnto' => moderate_admin_locations_path, :'data-remote' => true, :'data-method' => 'put', :'data-body' => 'Verify location'
  %li= link_to 'Reject', reject_location_status_path(location), :class => 'small text-danger', :'data-returnto' => moderate_admin_locations_path, :'data-remote' => true, :'data-method' => 'put', :'data-body' => 'Reject location'
  %li= link_to 'Pending', pending_location_status_path(location), :class => 'small text-warning', :'data-returnto' => moderate_admin_locations_path, :'data-remote' => true, :'data-method' => 'put', :'data-body' => 'Pending location'
