%h3.pull-left 
  Media
  %small 
    Use the Instagram hashtag 
    %b.text-primary
      %a.display-field{:title => 'Explore Instagram Hashtag', :href => "https://instagram.com/explore/tags/#{hashtag}/"} ##{hashtag}
    %span.text-primary
      - if local_assigns[:f]
        = f.text_field :ig_hashtag, class: 'edit-field form-control input-md', style: 'width: inherit'
    to display images or video here

%a{:name => 'media'}
.instafeed
  #instafeed.clear
  %br/
  .div.center-block.text-center
    %button.btn.btn-default.load-more.btn-lg{:type => 'button', :style => 'display: none'}
      %span.fa.fa-refresh
      Load More Media

= content_for(:scripts) do
  :coffeescript
    feedView = new RollFindr.Views.InstaFeedView(client_id: '#{ig_client_id}', hashtag: '#{hashtag}')

