%h3.pull-left 
  Media
  %small 
    Use the Instagram hashtag 
    %b.text-primary
      %a.display-field{:title => 'Explore Instagram Hashtag', :href => "https://instagram.com/explore/tags/#{hashtag}/"} ##{hashtag}
    %span.text-primary
      - if local_assigns[:f]
        = f.text_field :ig_hashtag, class: 'edit-field form-control input-md', style: 'width: inherit'
    to display images or video here

%a{:name => 'media'}
#instafeed.clear
%br/
.div.center-block.text-center
  %button.btn.btn-default.load-more.btn-lg{:style => 'display: none'}
    %span.fa.fa-refresh
    Load More Media

= content_for(:scripts) do
  :javascript
    if (#{hashtag.present?}) {
      var load_more = $('.load-more');
      var feed = new Instafeed({
        limit: 21,
        get: 'tagged',
        sortBy: 'most-recent',
        tagName: '#{hashtag}',
        clientId: '#{ig_client_id}',
        after: function() {
          if (!this.hasNext()) {
            load_more.attr('disabled', true);
          } else {
            load_more.css('display', 'inline-block');
          }
        }
      });

      load_more.click(function() {
        feed.next();
      });

      feed.run();
    }

