%address.display-field.text-info
  = link_to map_path(:center => location.to_coordinates, :ref => 'loc_map_full'), :data => { :'no-turbolink' => true } do
    %span.address
      = location.street
      %br/
      = "#{location.city}, #{location.state}"
      %br/
      = "#{location.postal_code} #{location.country}"
      %br/
    %span.small
      = surround '(', ')' do
        %span.fa.fa-search-plus
        View on larger map
.form-group.edit-field
  = f.label :street, class: 'small'
  = f.text_field :street, class: 'form-control input-sm'
  = f.label :city, class: 'small'
  = f.text_field :city, class: 'form-control input-sm'
  = f.label :state, class: 'small'
  = f.text_field :state, class: 'form-control input-sm'
  = f.label :country, class: 'small'
  = f.text_field :country, class: 'form-control input-sm'
  = f.label :postal_code, class: 'small'
  = f.text_field :postal_code, class: 'form-control input-sm'
.form-group.edit-field
  = f.label :directions, class: 'small'
  = f.text_area :directions, placeholder: 'Provide any extra directions to the academy (eg. signage missing; go around the back)', class: 'form-control', rows: 3
%p.display-field.directions
  = location.directions

= content_for(:scripts) do
  :coffeescript
    $('.directions').readmore(collapsedHeight: 175)
