.col-md-3.col-xs-12.col-sm-4
  .edit-field
    = f.label :phone, class: 'small text-muted upcase'
    = f.text_field :phone, class: 'input-sm form-control'
    = f.label :email, class: 'small text-muted upcase'
    = f.text_field :email, class: 'input-sm form-control'
    = f.label :website, 'Websites', class: 'small text-muted upcase'
    .input-group
      %span.input-group-addon http://
      = f.text_field :website, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon
        %span.fa.fa-facebook
      = f.text_field :facebook, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon 
        %span.fa.fa-instagram
      = f.text_field :instagram, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon
        %span.fa.fa-twitter
      = f.text_field :twitter, class: 'input-sm form-control'

  - if !location.contact_info?
    %i.display-field.text-muted No contact information was provided
  - else
    .display-field
      %b.small.text-muted.upcase Contact 
      %br/
      - if location.phone.present?
        %span.small.display-field
          %a{:class => 'phone', :href => "tel:#{location.phone}"}
            %i.fa.fa-phone
            = number_to_phone location.phone
      - if location.email.present?
        %span.small.display-field
          = link_to 'mailto:' + location.email, class: 'email' do
            %i.fa.fa-envelope
            = location.email
      - if location.website.present?
        %span.small.display-field
          = link_to 'http://' + location.website, target: '_blank', class: 'website' do
            %i.fa.fa-external-link
            = location.website
            = location.website_status
  .display-field
    %br/
    %b.small.text-muted.upcase 
      Profiles
      - if Role.power(current_user.role) >= Role.power(Role::MODERATOR)
        = "(src: #{location.object.source})"
    %br/
    - [:google, :yelp, :facebook].each do |profile|
      = render partial: 'progress_bar', locals: { sym: profile, address: location.send("#{profile}_address"), href: location.send("#{profile}_url"), value: location.send("#{profile}_match") }
    - if location.instagram.present?
      = link_to 'http://instagram.com/' + location.instagram, class: 'instagram', target: '_blank' do
        %i.fa.fa-instagram
    - if location.twitter.present?
      = link_to 'http://twitter.com/' + location.twitter, class: 'twitter', target: '_blank' do
        %i.fa.fa-twitter-square
  .display-field.hidden-xs= render partial: 'application/google_adsense_halfbanner'
