- if location.alternate_titles.present?
  %h1.display-field{:'data-html' => true, :'data-toggle' => 'tooltip', :'data-placement' => 'bottom', :title => location.alternate_titles_tooltip}
    = location.title
    %small
      %span.fa.fa-search
- else
  %h1.display-field
    = location.title
    - if location.team.present?
      %small
        = link_to location.team_name, team_path(location.team, ref: 'loc_title')
.edit-field
  = f.label :title, class: 'small text-muted upcase'
  = f.text_field :title, class: 'form-control input-lg'
  = f.label :team_id, 'Team', class: 'small text-muted upcase'
  = f.select :team_id, grouped_options_for_select(all_teams_select_groups, location.team_id), { include_blank: true }, { class: 'form-control  input-md' }
  = f.label :description, class: 'small text-muted upcase'
  = f.text_area :description, placeholder: 'Provide a description of the academy', class: 'form-control', rows: 3
%div.display-field.description
  = simple_format(location.description)

= content_for(:scripts) do
  :coffeescript
    $('.description').readmore(collapsedHeight: 100)

