%h1.display-field
  = location.title
  %br/
  %small
    - if location.team.present?
      = link_to location.team_name, team_path(location.team, ref: 'loc_title')
    - else
      = location.team_name
.edit-field
  = f.label :title, class: 'small text-muted upcase'
  = f.text_field :title, class: 'form-control input-lg'
  = f.label :team_id, 'Team', class: 'small text-muted upcase'
  = f.select :team_id, grouped_options_for_select(all_teams_select_groups, location.team_id), { include_blank: true }, { class: 'form-control  input-md' }
  = f.label :description, class: 'small text-muted upcase'
  = f.text_area :description, placeholder: 'Provide a description of the academy', class: 'form-control', rows: 3
%div.display-field.description
  = simple_format(location.description)

%a.media-teaser.hidden-xs.display-field{:href => '#media', :title => 'View more media'}

= content_for(:scripts) do
  :coffeescript
    $('.description').readmore(collapsedHeight: 100)

