.col-md-3.col-xs-9
  .edit-field
    = f.label :phone, class: 'small text-muted upcase'
    = f.text_field :phone, class: 'input-sm form-control'
    = f.label :email, class: 'small text-muted upcase'
    = f.text_field :email, class: 'input-sm form-control'
    = f.label :website, 'Websites', class: 'small text-muted upcase'
    .input-group
      %span.input-group-addon http://
      = f.text_field :website, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon http://facebook.com/
      = f.text_field :facebook, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon http://instagram.com/
      = f.text_field :instagram, class: 'input-sm form-control'
    .input-group
      %span.input-group-addon http://twitter.com/
      = f.text_field :twitter, class: 'input-sm form-control'

  - if !location.contact_info?
    %i.display-field.text-muted No contact information was provided
  - else
    - if location.phone.present?
      %span.display-field
        %b.small.text-muted.upcase Phone
        %br/
        %a{:class => 'phone', :href => "tel:#{location.phone}"}
          = number_to_phone location.phone
          %i.fa.fa-phone
    - if location.email.present?
      %span.display-field
        %b.small.text-muted.upcase Email
        %br/
        = link_to 'mailto:' + location.email, class: 'email' do
          = location.email
          %i.fa.fa-envelope
    - if location.website.present?
      %span.display-field
        %b.small.text-muted.upcase Websites
        %br/
        = link_to 'http://' + location.website, class: 'website' do
          = location.website
          %i.fa.fa-external-link
        = location.website_status
.col-md-1.col-xs-3.display-field
  %b.small.text-muted.upcase Profiles
  - if location.yelp_url.present?
    = link_to location.yelp_url, class: 'yelp' do
      %i.fa.fa-yelp.fa-2x
  - if location.google_url.present?
    = link_to location.google_url, class: 'google' do
      %i.fa.fa-google.fa-2x
  - if location.facebook.present?
    = link_to 'http://facebook.com/' + location.facebook, class: 'facebook' do
      %i.fa.fa-facebook-square.fa-2x
  - if location.instagram.present?
    = link_to 'http://instagram.com/' + location.instagram, class: 'instagram' do
      %i.fa.fa-instagram.fa-2x
  - if location.twitter.present?
    = link_to 'http://twitter.com/' + location.twitter, class: 'twitter' do
      %i.fa.fa-twitter-square.fa-2x
