%ul.nav
  %li= link_to 'Location', '#location'
  %li= link_to 'Instructors', '#instructor'
  %li= link_to 'Contact Information', '#contact'
  %li= link_to 'Schedule' , '#schedule'
  %li= link_to 'Reviews', '#reviews'
  %li= link_to 'Edit Academy', location_path(location, edit: 1), data: { :'begin-edit' => true }
