%ul.nav.nav-pills.small
  %li= link_to 'Location', '#location'
  %li= link_to 'Instructors', '#instructor'
  %li= link_to 'Schedule' , schedule_location_path(location)
  %li= link_to 'Media', '#media'
  %li= link_to 'Reviews', '#reviews'
