%ul.nav
  %li= link_to 'Location', '#location'
  %li= link_to 'Head Instructor', '#instructor'
  %li= link_to 'Contact Information', '#contact'
  %li= link_to 'Schedule' , '#schedule'
  %li= link_to 'Reviews', '#reviews'
