- exclude = local_assigns[:exclude] || []
%table.table.table-striped.location-table
  %tr
    %th
    %th
      Name
    - unless exclude.include?(:team)
      %th
        Team
    %th
      Instructors
    %th
      Address
    %th
  - locations.each_with_index do |location, i|
    %tr{:class => "schedule-color-#{i}"}
      %td
        %img{:src => location.image, :alt => location.title}
      %td
        = link_to(location.title, location_path(location, ref: "index#{i}"), title: location.title)
      - unless exclude.include?(:team)
        %td
          - if location.team.present?
            = link_to(location.team_name, team_path(location.team, ref: "index#{i}"), title: "#{location.team_name} gyms")
          - else
            = location.team_name
      %td
        - location.instructors.each do |o|
          = link_to(o.name, user_path(o, ref: "index#{i}"), class: "belt belt-#{o.belt_rank}")
      %td
        = link_to(location.address, map_path(center: location.to_coordinates))
      - if local_assigns[:show_legend] && show_legend
        %td.color-legend
          %div
