%table.table.table-striped
  %tr
    %th
      Name
    %th
      Team
    %th
      Instructors
    %th
      Address
  - locations.each_with_index do |location, i|
    %tr
      %td
        = link_to(location.title, location_path(location, ref: "index#{i}"))
      %td
        - if location.team.present?
          = link_to(location.team_name, team_path(location.team, ref: "index#{i}"))
        - else
          = location.team_name
      %td
        = location.instructors.map{|o| link_to(o.name, user_path(o, ref: "index#{i}"))}.join(", ").html_safe
      %td
        = link_to(location.address, root_path(center: location.to_coordinates))
