- seo_name = [@criteria[:city], @criteria[:country]].compact.join(", ")
- title = locations.present? ? "Brazilian Jiu-Jitsu Academies in #{seo_name}" : "Brazilian Jiu-Jitsu Academy Directory"
= content_for :title do
  = title
.container.page.directory
  .row
    .col-md-12
      %h1
        = title
        - if locations.blank?
          %span.small= "#{Location.count} academies worldwide"
  .row
    .col-md-10
      %ol.breadcrumb
        %li
          %a{href: root_path} Home
        %li
          %a{href: directory_index_path, title: 'Brazilian Jiu-Jitsu gym listings'} BJJ Academy Directory
        - if (@criteria.has_key?(:country))
          %li
            %a{href: directory_index_path(@criteria[:country]), title: "List of Brazilian Jiu-Jitsu gyms in #{@criteria[:country]}"}= @criteria[:country]
          - if (@criteria.has_key?(:city))
            %li
              %a{href: directory_index_path(@criteria[:country], @criteria[:city]), title: "List of Brazilian Jiu-Jitsu gyms in #{seo_name}"}= @criteria[:city]
    .col-md-2.text-right
      = link_to wizard_locations_path(ref: 'directory_index'), class: 'btn btn-success' do
        %i.fa.fa-map-marker
        Create Academy
  .row
    .col-md-12
      = render partial: 'locations/directory_welcome_message'
  
  - if @criteria[:city].blank? && @cities[ @criteria[:country] ].present?
    .row
      .col-md-12
        %h3 Popular cities in #{seo_name}
        %ul.list-inline
          - @cities[ @criteria[:country] ].sort.each do |city|
            %li= link_to city, directory_index_path(@criteria[:country], city), title: "List of Brazilian Jiu-Jitsu gyms in #{city}, #{@criteria[:country]}"
  - if locations.present?
    .row
      .col-md-12
        %h3
          %span= "Showing #{pluralize(locations.count, 'academy')}"
          %span
            = surround '(', ')' do
              = link_to 'See locations on map', map_path(zoom: Map::ZOOM_CITY, center: locations.first.to_coordinates), title: "See map of Brazilian Jiu-Jitsu gyms in #{seo_name}"
    .row
      .col-md-12
        = render partial: 'locations/table', locals: { locations: locations, show_legend: @criteria[:city].present? }
    - if @criteria[:city].present?
      .row
        .col-md-12
          %h3 Schedule for #{seo_name}
          .scheduler.clear
  - else
    = render partial: 'directory_index'

= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      locationsCollection = new RollFindr.Collections.LocationsCollection(#{locations.to_json})
      calendarView = new RollFindr.Views.OmniCalendarView({ collection: locationsCollection })
