= content_for(:title) do
  = "Schedule for #{location.title} in #{location.city}, #{location.country} - class times, seminars, tournaments and special events"

.container.show-location.page
  = form_for(location, html: { class: 'form ' + edit_mode_classes }) do |f|
    = render partial: 'locations/schedule_header', object: location, as: :location
    %hr/
    .row
      .col-md-12
        %small.pull-left.text-muted= "All times shown using the #{location.timezone} timezone."
        %div.pull-right.small.text-muted= "last updated #{location.schedule_updated_at}"
        %small.text-center.text-info.edit-field To add an event to the schedule, click the time/day that the event falls on.
        %a{:name => 'schedule'}
        .scheduler-container.clear
          .scheduler

= render :partial => 'location_events/create_event_modal', locals: { location: location }
= render :partial => 'location_events/move_event_modal', locals: { location: location }
= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      mapView = new RollFindr.Views.LocationShowView({ starting: "#{@starting}", editable: #{edit_mode?}, model: #{render_json(location)}, el: $('.show-location')})
