= content_for(:title) do
  = "#{location.title} #{"BJJ" unless location.title.end_with?("BJJ")} academy in #{location.city}, #{location.country}"

.container.show-location.page{ class: moved? ? 'moved' : (closed? ? 'closed' : '') }
  %div#fb-root
  = form_for(location, html: { class: 'form ' + edit_mode_classes }) do |f|
    .row
      .col-md-10.pull-left
        = render partial: 'breadcrumb', locals: { location: location }
      .col-md-2.pull-right
        = render partial: 'edit_controls', locals: { location: location }
    .row
      .col-md-12
        = render partial: 'verify_message' if verified?
        = render partial: 'create_message' if created?
        = render partial: 'edit_success_message' if edit_success?
        = render partial: 'review_message' if reviewed?
        = render partial: 'schedule_timezone_missing_message' if location.timezone.blank?
        = render partial: 'closed_message' if closed? || moved?
    .row{:style => "position: absolute; background-size: cover; background: url('#{location.cover_image}') -#{location.cover_image_offset_x}px -#{location.cover_image_offset_y}px"}
    .row
      .col-md-2.col-xs-4.col-sm-3{:style => 'padding-right: 0px;'}
        .display-field
          %a{target: '_blank', href: location.image_large, title: "View large logo"}
            %img.img-thumbnail{:width => location.image_width, :height => location.image_height, :src => location.image, :class => 'logo center-block'}/
        .edit-field
          %img.img-thumbnail{:width => location.image_height, :height => location.image_height, :src => location.image, :class => 'logo center-block edit-image'}/
          %br/
          %input{:'data-url' => upload_image_location_path(location), :'data-upload-avatar' => true, :type => 'file', :class => 'input-md form-control'}/
          - if location.object.image.present?
            %input{:'data-url' => remove_image_location_path(location), :'data-clear-avatar' => true, :type => 'button', :value => 'Remove Image', :class => 'btn btn-default btn-small btn-block'}/
        .rating-container
          = render partial: 'rating', :locals => { location: location }
        %div.small.text-center.center-block.display-field
          = render partial: 'stats'  
      .col-md-7.col-xs-8.col-sm-5
        = render partial: 'show_header', :locals => { location: location, f: f }
      .col-md-12.hidden-lg.hidden-md.hidden-sm.clear
        %hr/
      .col-md-3.col-xs-12.col-sm-4
        = render partial: 'show_contact', :locals => { location: location, f: f }
      .col-md-12.hidden-md.clear
        %hr/
      .col-md-2.col-xs-6.col-sm-3.text-center.hidden-xs
        = render partial: 'show_address', locals: { location: location, f: f }
        - if Role.power(current_user.role) >= Role.power(Role::MODERATOR)
          = render partial: 'show_moderation', locals: { location: location, f: f } 
      .col-md-6.col-xs-12.col-sm-9
        .map
          %div.map-canvas{:style => 'height: 275px'}
          -# This is filled in by google maps
          %p.edit-field.text-info.small Note: you can drag the marker to a new location to change the address of this academy.
      .col-md-4
        %b.small.text-muted.text-uppercase Nearby
        %div.nearby-locations.loading.location-list
          -# This is filled in by locations/nearby template
          .loading-overlay
            %span.fa.fa-refresh.fa-3x.fa-spin
          .content
            %ul.list-unstyled.items
          .alternative
            = render partial: 'application/google_adsense'

          - more_schools = [location.city, location.state || location.country].compact.join(', ')
          %span.small
            = link_to map_path(ref: 'loc_dp', geoquery: more_schools), title: "Brazilian Jiu-Jitsu schools in #{more_schools}" do
              %p See more Brazilian Jiu-Jitsu schools in #{more_schools}
    - if location.photos.present?
      %hr/
      .row
        .col-md-12
          %h3
            Media
            - if location.photos.size > 0
              %small= "#{pluralize(location.photos.size, 'image')}"
          %a{:name => 'media'}
          .media
            - location.photos.each do |photo|
              %div.media-thumbnail
                %a{:target => '_blank', :href => photo[:url]}
                  %img.img-rounded{:src => photo[:small_url], :width => 130}/
                %span.top-right.overlay.small
                  %span.fa{class: "fa-#{photo[:source].downcase}"}
                - if Role.power(current_user.role) >= Role.power(Role::MODERATOR)
                  %a.top-left.overlay.btn.btn-xs.btn-default{'data-id' => location.id, 'data-set-avatar-url' => photo[:url], href: '#'}
                    %span.fa.fa-eye
    %hr/
    .row
      .col-md-4.instructors
        %h3.pull-left Instructors
        %a{:name => 'instructor'}
        %button.pull-right.edit-field.btn.btn-small.btn-default.add-instructor{:style => 'margin-top: -5px', :type => 'button'}
          %i.fa.fa-plus-circle
          Add Instructor
        .clear.items
        .empty-message
          %i.text-muted We don't know who teaches at this academy.
          %a.add-instructor{href: 'javascript:void(0)'} 
            %i Do you?
        %br/
        -#= render :partial => 'locations/instructors', :locals => { :location => location }
      .col-md-8
        %h3.pull-left
          %span.fa.fa-calendar
          Schedule
          %span.small
            = surround '(', ')' do
              = link_to 'view full schedule', schedule_location_path(location, ref: 'loc_sched_full')
        %div.pull-right.small.text-muted= "last updated #{location.schedule_updated_at}"
        %a.clear-fix.clear{:name => 'schedule'}
        .scheduler-container.clear
          .scheduler
    %hr/
    .row
      - if location.facebook.present? && !location.facebook_group?
        .col-md-5
          = render :partial => 'locations/show_news_feed', :locals => { :location => location }
      %div{:class => location.facebook.present? && !location.facebook_group? ? 'col-md-7' : 'col-md-12'}
        = render :partial => 'locations/show_reviews', :locals => { :location => location }
    %hr.edit-field/
    .row.edit-field
      .col-md-12
        .pull-right
          %button.show-metadata.btn.btn-default.btn-md{:type => 'button'}
            %i.fa.fa-info-circle
            Show Metadata

          &nbsp;&nbsp;
          %button.delete-field.btn.btn-danger.btn-md{:type => 'button',
            :data => { :method => :delete,
                       :url => location_path(location),
                       :title => 'Are you sure you want to delete this academy?',
                       :body => "You are performing this action as <b>#{current_user.try(:name)}</b>. Press 'Confirm' to permanently delete this academy. Note that this action cannot be un-done." } }
            %i.fa.fa-trash
            Delete Academy
    %br/
    %div.pull-left.small
      %a{href: '#'} Back to top
    %div.pull-right.small.text-muted= "last updated #{location.updated_at}"

  = render :partial => 'instructors/add_instructor_dialog'
  = render :partial => 'location_events/create_event_modal', locals: { location: location }
  = render :partial => 'location_events/move_event_modal', locals: { location: location }
  = render :partial => 'claim_location_dialog', locals: { location: location }
  = render :partial => 'metadata_dialog', locals: { location: location }
= content_for(:scripts) do
  = javascript_include_tag 'calendar'
  = javascript_include_tag 'map'
  :coffeescript
    $('.media').readmore(collapsedHeight: 105, moreLink: "<a class='pull-right btn btn-default btn-small' href='#'>See more</a>", lessLink: "<a class='pull-right btn btn-default btn-small' href='#'>Close</a>")
    $(document).ready ->
      mapView = new RollFindr.Views.LocationShowView({ editable: #{edit_mode?}, model: #{render_json(location)}, mapModel: #{render_json(@map)}, el: $('.show-location')})
  = render partial: 'facebook_sdk'

= content_for(:head) do
  = render partial: 'opengraph_tags', locals: { location: location }
