= content_for(:title) do
  = "#{location.title} #{"BJJ" unless location.title.end_with?("BJJ")} academy in #{location.city}, #{location.country}"

.container.show-location.page
  %div#fb-root
  = form_for(location, html: { class: 'form ' + edit_mode_classes }) do |f|
    .row
      .col-md-10
        = render partial: 'breadcrumb', locals: { location: location }
      .col-md-2
        .display-field
          .btn-group
            %button.btn.btn-default.btn-sm{:type => "button", 'data-begin-edit' => true} Edit
            %button.btn.btn-default.btn-sm.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %span.caret
              %span.sr-only Toggle Dropdown
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a.add-instructor-menu{:href => "#instructor"} Add Instructor
              %li
                %a{:href => schedule_location_path(location, edit: 1)} Add Event
              %li
                %a.add-review{:href => '#reviews'} Add Review
          %button.btn.btn-default.btn-sm{'data-report-item' => true}
            %span.report Report
        .edit-field
          %button.btn.btn-default.btn-sm{:'data-cancel-edit' => true } Cancel
          %button.btn.btn-primary.btn-sm{:type => 'submit'} Save
    .row
      .col-md-12
        = render partial: 'create_message' if created?
        = render partial: 'edit_success_message' if edit_success?
        = render partial: 'review_message' if reviewed?
        = render partial: 'schedule_timezone_missing_message' if location.timezone.blank?
    .row
      .col-md-11.col-md-offset-1
        = render partial: 'subnav', :locals => { location: location }
    .row
      .col-md-2.col-xs-3{:style => 'margin-top: 20px; padding-right: 0px;'}
        .display-field
          %img{:src => location.image, :class => 'center-block'}/
        .edit-field
          %img{:src => location.image, :class => 'center-block edit-image'}/
      .col-md-6.col-xs-9
        = render partial: 'show_header', :locals => { location: location, f: f }
      .col-md-12.hidden-lg.hidden-md.clear
        %hr/
      = render partial: 'show_contact', :locals => { location: location, f: f }
    %hr/
    .row
      .col-md-3
        %h3 Location
        %a{:name => 'location'}
        = render partial: 'show_address', locals: { location: location, f: f }
      .col-md-5
        %div.map-canvas{:style => 'height: 300px'}
        -# This is filled in by google maps
        %h4.display-field.text-center
          = link_to map_path(:center => location.to_coordinates, :ref => 'loc_map_full'), :data => { :'no-turbolink' => true } do
            %span.fa.fa-search-plus
            See on larger map
        %p.edit-field.text-info.small Note: you can drag the marker to a new location to change the address of this academy.
      .col-md-4
        %div.nearby-locations
          -# This is filled in by locations/nearby template
          .content
            %h3 Nearby Academies
            %ul.list-unstyled.items
          .alternative
            = render partial: 'application/google_adsense'
    %hr/
    .row
      .col-md-4.instructors
        %h3.pull-left Instructors
        %a{:name => 'instructor'}
        %button.pull-right.edit-field.btn.btn-small.btn-default.add-instructor{:style => 'margin-top: -5px', :type => 'button'}
          %i.fa.fa-plus-circle
          Add Instructor
        .clear.items
        .empty-message
          %i.text-muted We don't know who teaches at this academy
        %br/
        -#= render :partial => 'locations/instructors', :locals => { :location => location }
      .col-md-8
        %h3
          %span Schedule
          %span.small
            = surround '(', ')' do
              = link_to 'view full schedule', schedule_location_path(location, ref: 'loc_sched_full')
        %a{:name => 'schedule'}
        .scheduler.clear
    %hr/
    .row
      - if location.facebook.present?
        .col-md-5
          = render :partial => 'locations/show_news_feed', :locals => { :location => location }
      %div{:class => location.facebook.present? ? 'col-md-7' : 'col-md-12'}
        = render :partial => 'locations/show_media', :locals => { :f => f, :hashtag => location.ig_hashtag }
    %hr/
    .row.reviews
      .col-md-12
        = render :partial => 'locations/show_reviews', :locals => { :location => location }
    %hr.edit-field/
    .row.edit-field
      .col-md-12
        %h3 Edit Controls
      .col-md-12
        %pre.small= JSON.pretty_generate(location.as_json({}))
        %br/
      .col-md-12
        .pull-right
          %button.delete-field.btn.btn-danger.btn-md{:type => 'button',
            :data => { :method => :delete,
                       :url => location_path(location),
                       :title => 'Are you sure you want to delete this academy?',
                       :body => "You are performing this action as <b>#{current_user.try(:name)}</b>. Press 'Confirm' to permanently delete this academy. Note that this action cannot be un-done." } }
            %i.fa.fa-trash
            Delete Academy

          &nbsp;&nbsp;
          %button.btn.btn-default.btn-md{:type => 'button', 'data-cancel-edit' => true} Cancel Editing
          %button.btn.btn-primary.btn-md{:type => 'submit'} Save Changes

    %br/

  = render :partial => 'instructors/add_instructor_dialog'
  = render :partial => 'reviews/add_review_dialog'
  = render :partial => 'events/add_event_modal', locals: { location: location }
= content_for(:scripts) do
  :coffeescript
    $(document).ready ->
      mapView = new RollFindr.Views.LocationShowView({ editable: #{edit_mode?}, model: #{location.to_json}, mapModel: #{@map.to_json}, el: $('.show-location')})

= content_for(:scripts) do
  = render partial: 'facebook_sdk'

= content_for(:head) do
  = render partial: 'opengraph_tags', locals: { location: location }

